body.page-template-camp {
  .c-main-menu-topbar li a,
  .c-header__phone,
  .c-header__address{
    color: white;
  }
  .c-section-main-bg {
    margin-bottom: 0;
  }
  .c-section-about-course {
    margin-top: 82px;
  }
  .c-about-camp__text {
    font-size: 14px;
    line-height: 28px;
    p {
      margin-top: 0;
    }
  }
  .c-about-camp__title2 {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 28px;
  }
  .schedule-section {
    h2 p {
      margin: 0;
      font-weight: normal;
      font-size: 22px;
      line-height: 40px;
    }
  }
  @media all and (min-width: 1680px){
    .icon-tabs {
      padding-top: 150px;
    }
  }

  @media all and (max-width: 500px) {
    .schedule-section h2 p {
      font-size: 12px;
    }
    .c-section-main-bg {
      h2 {
        margin-top: 0 !important;
        font-size: 22px !important;
        margin-bottom: 20px !important;
        padding-top: 130px;
      }
      .camp_main__bg {
        display: none;
      }
      .c-section-main-bg__email {
        padding: 10px 0 20px;
      }
      .camp_main__img {
        position: absolute;
        filter: brightness(60%);
        z-index: -1;
      }
      .l-position {
        position: static;
      }
      .c-section-main-bg__form {
        flex-direction: column;
        .left-block {
          width: 100%;
          align-items: baseline;
          .c-section-main-bg__single {
            width: 50%;
            font-size: 11px;
            line-height: 16px;
            position: relative;
            padding-bottom: 35px;
            &::before {
              top: -16px;
              width: 45px;
            }
            &:nth-child(3),
            &:nth-child(4){
              padding-bottom: 10px;
            }
          }
        }
        .right-block {
          flex-direction: column;
        }

      }
      .o-button-default {
        margin-bottom: 20px;
      }
    }
    .c-section-about-course {
      margin-top: 40px;
      .c-section-about-course__bg,
      .c-section-about-course__decor {
        display: none;
      }
    }
  }
  .schedule-section {
    margin-top: 50px;
    .schedule__container {
      padding: 0;
      .schedule__data {
        margin: 0;
        height: auto;
        min-height: 380px;
        img {
          height: 160px;
        }
        h6 {
          padding-top: 20px;
          font-size: 15px;
          line-height: 36px;
        }
        p {
          font-size: 11px;
          line-height: 18px;
        }
      }
    }
    .slick-slide {
      padding: 0 5px;
    }
    .schedule__bg {
      bottom: 270px;
    }
    .slick-track {
      margin-bottom: 50px;
    }
  }
}

@import "camp/camp-features", "camp/our-conditions";
