body.page-template-faq {
  .c-main-menu-topbar li a,
  .c-header__phone,
  .c-header__address{
    color: white;
  }

  .c-section-main-bg button {
    margin-bottom: 30px;
  }

  .c-section-main-bg {
    margin-bottom: 0;
  }

  .c-section-faq {
    margin-top: 40px;
  }

  @media all and (min-width: 1400px) {
    .c-section-main-bg .l-position {
      bottom: 115px;
    }
  }
  .c-section-main-bg .camp_main__img{
    filter: brightness(60%);
  }
  .c-section-main-bg .camp_main__bg {
    z-index: 3;
    bottom: 0;
  }
}
