body.blog,
body.archive,
body.single-post {
  .c-main-menu-topbar li a,
  .c-header__phone,
  .c-header__address{
    color: white;
  }
  .c-section-news {
    padding-top: 0;
  }
  .c-tabs-nav {
    a {
      width: 160px;
      padding: 0;
      height: 50px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
  @media all and (max-width: 500px) {
    .c-section-main-bg {
      .camp_main__bg {
        display: none;
      }
    }
    .c-section-news {
      padding-left: 13px;
      padding-right: 13px;
      .news-block__data a {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

body.single-post {
  .c-slider-hero__images {
    transform: none !important;
  }
  .c-section-hero {
    height: 810px;
    min-height: auto;

    .l-container {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 4.5vw;
    }

    .c-slider-hero__images {
      width: 100vw;
      height: 100%;
      left: 0;
      right: 0;
      position: absolute;

      .c-slider-hero__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(60%);
      }

      .news_bg_1 {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
    .c-slider-hero__title,
    .c-slider-hero__sub-title{
      color: white;
      padding-bottom: 80px;
      font-size: 48px;
      line-height: 68px;
      max-width: none;
      margin-bottom: 0;
    }
    .c-slider-hero__slide {
      text-align: center;
    }
    .l-container {
      z-index: 4;
      .c-slider-hero {
        padding-top: 155px;
      }
    }
  }
  .c-section-about-course {
    margin-top: 0;

    .c-section-about-course__bg {
      top: 0;
    }

    .l-about-course {
      position: relative;
      top: -50px;
      z-index: 7;
    }
  }
  h2 {
    text-align: center;
    padding-bottom: 30px;
  }

  @media all and (max-width: 500px) {
    .c-section-hero {
      height: 400px;
    }
    .c-section-hero .l-container .c-slider-hero {
      padding-top: 40px;
    }
    .c-slider-hero__sub-title {
      padding: 0;
      font-size: 20px;
    }
    .c-slider-hero__images {
      margin-top: 0;
    }
    .c-section-about-course .l-about-course {
      top: 0;
    }
  }
}
