body.tax-project-category,
body.page-template-producing-tv-projects,
body.page-template-producing-musicals {
  .c-main-menu-topbar li a,
  .c-header__phone,
  .c-header__address{
    color: white;
  }
}
.c-section-producing {
  margin-top: -90px;
  &__bg {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;
  }
  &__container {
    max-width: 1450px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .producing__single {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 60px;
    max-width: 700px;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 22px;
    }
    &:not(.producing__single--tv) {
      &:nth-child(6n+1) {
        box-shadow: 0px 10px 30px rgba(167, 80, 255, 0.3);
        .producing__single_data {
          background: linear-gradient(242.96deg, #B3B8FF 12.19%, #A750FF 83.59%);
        }
      }
      &:nth-child(6n+2) {
        box-shadow: 0px 10px 30px rgba(255, 136, 90, 0.3);
        .producing__single_data {
          background: linear-gradient(242.96deg, #FFCC04 12.19%, #FF885A 83.59%);
        }
      }
      &:nth-child(6n+3) {
        box-shadow: 0px 10px 30px rgba(255, 95, 109, 0.3);
        .producing__single_data {
          background: linear-gradient(243.42deg, #FFC371 12.15%, #FF5F6D 86.64%);
        }
      }
      &:nth-child(6n+4) {
        box-shadow: 0px 10px 30px rgba(32, 158, 249, 0.3);
        .producing__single_data {
          background: linear-gradient(245.63deg, #B4EFFC 11.05%, #209EF9 90.73%);
        }
      }
      &:nth-child(6n+5) {
        box-shadow: 0px 10px 30px rgba(225, 82, 183, 0.3);
        .producing__single_data {
          background: linear-gradient(243.42deg, #F6A7CD 12.15%, #E152B7 86.64%);
        }
      }
      &:nth-child(6n+6) {
        box-shadow: 0px 10px 30px rgba(255, 167, 81, 0.3);
        .producing__single_data {
          background: linear-gradient(243.42deg, #FEE77A 12.15%, #FFA751 86.64%);
        }
      }
    }
    &.producing__single--musicals {
      box-shadow: none !important;
    }
    &_data {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 340px;
      padding: 0 45px;
      text-align: center;
      h6 {
        font-weight: bold;
        font-size: 30px;
        margin-top: 0;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 40px;
        margin-top: 0;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
    &--tv {
      border: 6px solid white;
      img {
        border-radius: 20px;
      }
      .producing__single {
        &_data {
          width: 100%;
          border-radius: 20px;
          background: linear-gradient(0deg, rgba(47, 40, 78, 0.3), rgba(47, 40, 78, 0.3));
          box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
          display: none;
        }
      }
      &:hover .producing__single_data{
        display: flex;

      }
    }
    &--musicals {
      border: 6px solid white;
      img {
        border-radius: 20px;
      }
      .producing__single {
        &_data {
          width: 100%;
          border-radius: 20px;
          box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
          display: none;
        }
      }
      &:hover .producing__single_data{
        display: flex;

      }
    }
  }
  &__button {
    background: #FFFEFF;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    width: 200px;
    padding: 0 20px;
    height: 65px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 60px;
    color: #2F284E;
  }
}
body.single-project {
  .c-slider-hero__images {
    max-height: 955px;
    max-width: 1230px;
    width: auto;
    img {
      height: 100%;
      width: auto;
    }
  }
  .c-about-camp__text {
    font-size: 14px;
    line-height: 28px;
    p {
      margin-top: 0;
    }
  }
  .c-about-camp__title2 {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 28px;
  }
  .c-card-person {
    transition: .3s;
  }
  .c-card-person:hover {
    background: linear-gradient(346.84deg, #4B33E1 19.84%, #892AE2 75.67%);
    transition: .3s;
    .c-card-person__description-short,
    .c-card-person__name {
      color: white;
    }
  }
  .c-section-producing {
    .producing__single_data {
      p {
        margin-bottom: 0;
      }
    }
  }
}

@media all and (max-width: 500px) {
  body {
    .c-section-producing {
      margin-top: 0;
      .producing__single {
        height: 180px;
        margin-bottom: 35px;
      }
    }
    .c-section-producing__container {
      padding: 0 15px;
      .producing__single .producing__single_data {
        padding: 10px;
        width: 100%;
        h6 {
          font-size: 12px;
          line-height: 24px;
          margin-bottom: 0;
        }
        p {
          margin-bottom: 15px;
          font-size: 10px;
          line-height: 18px;
        }
      }
    }
    .c-section-producing .producing__single:not(.producing__single--tv):nth-child(6n+1) .producing__single_data {
      background: linear-gradient(242.96deg, rgba(179, 184, 255, 0.7) 12.19%, rgba(167, 80, 255, 0.7) 83.59%);
    }
    .c-section-producing .producing__single:not(.producing__single--tv):nth-child(6n+2) .producing__single_data {
      background: linear-gradient(242.96deg, rgba(255, 204, 4, 0.7) 12.19%, rgba(255, 136, 90, 0.7) 83.59%)
    }
    .c-section-producing .producing__single:not(.producing__single--tv):nth-child(6n+3) .producing__single_data {
      background: linear-gradient(243.42deg, rgba(255, 195, 113, 0.71) 12.15%, rgba(255, 95, 109, 0.7) 86.64%)
    }
    .c-section-producing .producing__single:not(.producing__single--tv):nth-child(6n+4) .producing__single_data {
      background: linear-gradient(245.63deg, rgba(180, 239, 252, 0.71) 11.05%, rgba(32, 158, 249, 0.71) 90.73%);
    }
    .c-section-producing .producing__single:not(.producing__single--tv):nth-child(6n+5) .producing__single_data {
      background: linear-gradient(243.42deg, rgba(246, 167, 205, 0.71) 12.15%, rgba(225, 82, 183, 0.71) 86.64%);
    }
    .c-section-producing .producing__single:not(.producing__single--tv):nth-child(6n+6) .producing__single_data {
      background: linear-gradient(243.42deg, rgba(254, 231, 122, 0.71) 12.15%, rgba(255, 167, 81, 0.71) 86.64%);
    }
    .c-section-producing__button {
      outline: none;
      border-radius: 18px;
      width: 120px;
      padding: 0 20px;
      height: 34px;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 30px;
    }
  }
}
