body.page-template-teleprojects {
  .c-about-camp {
    &__title {
      color: #483E8A;
    }
    &__text {
      margin-bottom: 40px;
    }
  }
  .c-slider-hero {
    &__title {
      margin-bottom: 0;
    }
    &__sub-title {
      font-size: 64px;
      line-height: 68px;
      font-weight: normal;
      max-width: 600px;
      margin: 10px 0;
    }
  }
}

@media all and (max-width: 500px) {
  body.single-project {
    .c-section-hero {
      height: 500px;
    }
    .c-slider-hero__images {
      margin-top: 130px;
      height: 415px;
      img {
        object-fit: contain;
      }
    }
    .c-slider-teachers__slide {
      padding: 60px 5px;
    }
    .c-slider-hero {
      .c-slider-hero__slide {
        .c-slider-hero__badge {
          position: static;
          width: auto;
          display: inline-flex;
          height: 35px;
          padding: 0 25px;
          align-items: center;
          font-size: 10px;
          text-transform: uppercase;
          max-width: fit-content;
          margin: 0 auto;
        }
        h1.c-slider-hero__title {
          min-height: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .c-slider-hero__button {
        display: none;
      }
    }
    .c-section-about-course {
      margin-top: 40px;
      .c-section-about-course__bg {
        display: none;
      }
    }
  }
}

@import "teleproject/nominees", "teleproject/translation", "teleproject/nominees-block";
