body.page-template-vacancies {
  .c-main-menu-topbar li a,
  .c-header__phone,
  .c-header__address{
    color: white;
  }

  .c-section-main-bg button {
    margin-bottom: 30px;
  }
  @media all and (min-width: 1400px) {
    .c-section-main-bg .l-position {
      bottom: 115px;
    }
  }
  .c-section-main-bg .camp_main__img{
    filter: brightness(60%);
  }
  .c-section-main-bg .camp_main__bg {
    z-index: 3;
    bottom: 0;
  }
}

.c-section-vacancy {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  padding-bottom: 100px;
  margin-bottom: 200px;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 12px 60px rgba(48, 74, 210, 0.2);
    background: linear-gradient(271.34deg, #F6F7FF 50%, #FBF6FF 73.71%, #F6F7FF 98.94%);
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .c-slider-vacancy {
    width: 750px;
    &__slide {
      padding-bottom: 30px;
      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
      color: #483E8A;
      span {
        font-weight: bold;
      }
    }
  }
  .slick-dots {
    position: absolute;
    bottom: -150px;
    right: 0;
    left: 0;
  }
  .slick-arrow {
    margin-right: 20px;
  }
}

.c-section-work {
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -3;
  }
  padding: 50px 20px;
  &__container {
    max-width: 800px;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    //background: linear-gradient(211.98deg, #B3B8FF 12.19%, #A750FF 83.59%);
    background: transparent;
    //border: 6px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(168, 80, 255, 0.2);
    border-radius: 24px;
    position: relative;
    padding: 6px;
    &::before,
    &::after{
      content: '';
      position: absolute;
      background: linear-gradient(211.98deg, #B3B8FF 12.19%, #A750FF 83.59%);
    }
    &::before {
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      z-index: -2;
      opacity: .8;
      border-radius: 26px;
    }
    &::after {
      right: 6px;
      left: 6px;
      bottom: 6px;
      top: 6px;
      z-index: -1;
      border-radius: 24px;
    }
  }
  &__image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__data {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      color: white;
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      margin: 0;
      &.bold {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
.c-section-why {
  padding: 40px 20px;
  &__container {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .c-card-why {
    &__item {
      padding: 0 40px 10px;
      margin: 0 10px 36px;
      width: 335px;
      background: #FFFFFF;
      border: 2px solid #F6F7FF;
      box-sizing: border-box;
      box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
      border-radius: 25px;
    }
    &__image {
      display: flex;
      height: 240px;
      align-items: center;
      justify-content: center;
    }
    &__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 68px;
      color: #0A114F;
    }
    &__text {
      margin: 0;
      font-weight: normal;
      font-size: 13px;
      line-height: 24px;
      color: #364363;
      padding-bottom: 35px;
    }
  }
}

@media all and (max-width: 500px) {
  body.page-template-vacancies {
    .c-section-main-bg {
      margin-bottom: 0;
      button {
        margin: 0 auto 60px;
      }
      .camp_main__bg {
        display: none;
      }
    }
    .c-section-main-bg__title {
      font-size: 22px !important;
      margin-bottom: 10px;
    }
    .c-section-vacancy {
      margin-top: 20px;
      margin-bottom: 50px;
      padding: 0 15px;
      .slick-dots {
        display: none !important;
      }
    }
    .c-section-vacancy__container {
      padding: 30px 0;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      > button {
        display: none;
      }
      .c-section-vacancy__bg {
        display: none;
      }
      .c-slider-vacancy {
        width: 220px;
      }
      .c-slider-vacancy__slide {
        font-size: 16px;
        line-height: 22px;
        padding: 0;
      }
    }
    .c-section-reasons {
      margin-top: 0;
      h2 {
        font-size: 16px;
        line-height: 22px;
      }
      .l-reasons {
        margin-top: 30px;
      }
      .l-reasons__column {
        padding: 0 15px;
        width: 100%;
      }
    }
    .c-section-work {
      margin-top: 40px;
      padding: 25px 15px;
      .c-section-work__container {
        flex-direction: column;
        height: auto;
        padding: 25px 5px;
      }
      .c-section-work__data {
        width: 70%;
        margin-top: 20px;
        text-align: center;
        p {
          font-size: 11px;
          line-height: 18px;
        }
      }
    }
    .c-section-why {
      margin-top: 0;
      padding: 0;
      h2 {
        margin-bottom: 0 !important;
      }
      .c-card-why__item {
        margin: 0;
        width: 240px;
        padding: 25px 20px;
      }
      .slick-slide {
        padding: 30px 10px 50px;
      }
      .c-card-why__image {
        height: auto;
        width: 140px;
        margin: 0 auto;
      }
      .c-card-why__title {
        font-size: 14px;
        line-height: 1.4;
        padding: 20px 0 10px;
      }
      .c-card-why__text {
        padding-bottom: 0;
        font-size: 11px;
        line-height: 16px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
