.c-list-icons {
    @include list-reset;

    font-size: 0;

    li {
        display: inline-block;
        width: 25%;
        padding: 30px;
    }
}

.c-list-icons__icon {
    min-height: 105px;
    margin-bottom: 25px;
}

.c-list-icons__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #364363;
}