@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/remodal/src/remodal";
@import "../../node_modules/remodal/src/remodal-default-theme";
@import "../../node_modules/plyr/src/sass/plyr.scss";

/* Lightgallery variables */
// $sl-font-family: $font-family-main;
$lg-toolbar-bg: transparent;
$lg-icon-bg: transparent;
$lg-border-radius-base: 0;
$backdrop-opacity: .7;
$lg-path-fonts: '../../node_modules/lightgallery/src/fonts';
$lg-path-images: '../../node_modules/lightgallery/src/img';
$lg-sub-html-bg: transparent;
$lg-sub-html-color: #fff;

@import "../../node_modules/lightgallery/src/sass/lightgallery.scss";

@import 'absctracts/variables';
@import 'absctracts/mixins';
@import 'absctracts/utils';

@import 'base/base';
@import 'base/fonts';

@import 'components';
@import 'layouts';
@import 'response';
@import "templates";
