.o-badge {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F67C9B;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(48, 74, 210, 0.13);
    border-radius: 60px;
    padding: 18px 35px 17px;
    display: inline-block;
}