.o-button-default {
    @include button;

    @media(max-width: $screen-md) {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    &--purple {
        background: linear-gradient(203.35deg, #B3B8FF 12.19%, #A750FF 83.59%);
        box-shadow: 0px 10px 30px rgba(167, 80, 255, 0.3);
    }
}
.arrow-btn {
    margin: 0 45px;
    padding: 0;
    background: transparent;
    border: 0;
    opacity: .6;
    transition: .3s;
    outline: 0;
    &--left {
        transform: rotate(180deg);
    }
    &:hover {
        transition: .3s;
        opacity: 1;
    }
}
