.c-about {

}

.c-about__image {
    width: 100%;
    height: 630px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 10px 50px rgba(73, 108, 187, 0.2);
    border-radius: 20px;    
}

.c-about__title {
    color: #2F284E;
    margin-bottom: 30px;
    margin-top: 30px;
}

.c-about__text {
    max-height: 725px;
    color: #364363;
    margin-bottom: 60px;
}

.c-about__name {
    color: #483E8A;
    margin-top: 0;
}

.c-about__description {
    color: #68637E;
}