.c-about-course {
    text-align: center;
    background: linear-gradient(270.41deg, #F6F7FF 50%, #FBF6FF 73.71%, #F6F7FF 98.94%);
    border: 10px solid #FFFFFF;
    box-shadow: 0px 12px 60px rgba(48, 74, 210, 0.2);
    border-radius: 20px;
    padding: 100px 85px;
}

.c-about-course__title {
    margin-top: 0;
    margin-bottom: 50px;
}

.c-about-course__text {
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.c-about-course__title2 {
    margin-bottom: 25px;
}

.c-about-course__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    color: #364363;
}

.c-about-course__footer {
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    color: #483E8A;
    margin-top: 40px;
}