.c-about-camp {
  text-align: center;
  background: linear-gradient(270.41deg, #F6F7FF 50%, #FBF6FF 73.71%, #F6F7FF 98.94%);
  border: 10px solid #FFFFFF;
  box-shadow: 0px 12px 60px rgba(48, 74, 210, 0.2);
  border-radius: 20px;
  padding: 100px 85px;
  .c-list-icons__icon {
    min-height: 45px;
  }
  .c-list-icons__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    a {
      color: #483E8A;
    }
  }
  .c-list-icons {
    display: flex;
    justify-content: space-between;
  }
  .c-list-icons li {
    width: 16.5%;
  }
}

.c-about-camp__title {
  color: #483E8A;
  margin-top: 0;
  margin-bottom: 50px;
}

.c-about-camp__date {
  background: #FFFFFF;
  box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
  border-radius: 60px;
  padding: 7px 23px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #9188C9;
  display: table;
  margin: 0 auto;
}

.c-about-camp__text {
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.c-about-camp__title2 {
  font-size: 18px;
  margin-bottom: 25px;
}

.c-about-camp__link {
  font-size: 18px;
  font-weight: bold;
  color: #364363;
  text-decoration: underline;
}

.c-about-camp__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  color: #364363;
}

.c-about-camp__footer {
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
  color: #483E8A;
  margin-top: 40px;
}
@media all and (max-width: 500px) {
  .c-about-camp {
    padding: 35px 20px;
    .c-list-icons {
      justify-content: center;
      flex-wrap: wrap;
      li {
        width: 50%;
        padding: 10px;
      }
      .c-list-icons__icon {
        min-height: auto;
        margin-bottom: 0;
        img {
          height: 22px;
        }
      }
      .c-list-icons__title {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }
  .c-about-camp__text {
    font-size: 11px !important;
    line-height: 18px !important;
  }
  .c-about-camp__title {
    margin-bottom: 10px !important;
  }
  .c-about-camp__title2 {
    font-size: 11px !important;
    margin-top: 0;
  }
}
