.c-contacts {
    @include clearfix;

    color: #2F284E;
}

.c-contacts__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    @media(min-width: $screen-xs) {
        font-size: 18px;
    }
}

.c-contacts__title--small {
    font-size: 16px;
}

.c-contacts__title--mb {
    margin-bottom: 30px;
}

.c-contacts__link {
    font-size: 14px;
    line-height: 22px;
    color: #2F284E;
    text-decoration: none;
    display: block;

    @media(min-width: $screen-xs) {
        font-size: 16px;
    }
}

.c-contacts__link--bold {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
}

.c-contacts__link--address {
    font-size: 14px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.c-contacts__section {
    margin-bottom: 30px;
}

.c-contacts__form {
    @include gutters;

    margin-bottom: 50px;
    width: 100%;
    float: right;

    @media(min-width: $screen-md) {
        width: 50%;
    }

    @media(min-width: $screen-xl) {
        position: absolute;
        width: 390px;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 1;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}