.c-countdown {
    display: inline-block;
    text-align: center;
    margin-bottom: 65px;
}

.c-countdown--purple {
    .c-countdown__title, .c-countdown__digit, .c-countdown__separator, .c-countdown__value {
        color: #483E8A;
    }
}

.c-countdown__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    color: #483E8A;
    margin-bottom: 35px;
    text-align: left;
    padding-left: 5px;
}

.c-countdown__digit {
    display: inline-block;
}

.c-countdown__value, .c-countdown__separator {
    font-weight: 500;
    font-size: 56px;
    color: #0A114F;
}

.c-countdown__value {
    display: block;
    margin-bottom: 20px;
    min-width: 73px;
}

.c-countdown__text {
    display: block;
    font-size: 16px;
    text-align: center;
    color: #7A7D98;
    text-transform: lowercase;
}

.c-countdown__separator {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
}