.c-section-faq {
  &__container {
    width: 100%;
    max-width: 1000px;
    padding: 0 25px;
    margin: 0 auto;
  }
  &__single {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    border: 2px solid #F6F7FF;
    box-sizing: border-box;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    border-radius: 26px;
    margin-bottom: 25px;
    &--header {
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
      border: 2px solid #F6F7FF;
      box-sizing: border-box;
      //box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
      border-radius: 20px;
      height: 80px;
      display: flex;
      cursor: pointer;
      align-items: center;
      padding: 0 20px 0 45px;
      justify-content: space-between;
      h6 {
        margin: 0;
        font-size: 18px;
        line-height: 20px;
        color: #2F284E;
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background: linear-gradient(239.52deg, #FEE77A 12.15%, #FFA751 86.64%);
        border-radius: 20px;
        img {
          display: block;
          transition: .3s;
          transform: rotate(180deg);
        }
      }
    }
    &--data {
      display: none;
      padding: 40px 55px 30px;
      p, li, a {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        color: #364363;
      }
      a {
        text-decoration: underline;
      }
      p, ul {
        margin: 0;
        padding-bottom: 20px;
      }
      ul {
        list-style: none;
        padding-left: 0;
        li {
          display: flex;
          &::before {
            content: '';
            height: 12px;
            width: 12px;
            background: url("../../img/templates/faq/star.png") no-repeat;
            margin-right: 16px;
            margin-top: 3px;
            display: table;
          }
          padding: 7px 0;
        }
      }
      .bold {
        font-weight: bold;
      }
    }
    &.is-active {
      margin-bottom: 50px;
      overflow: hidden;
      .c-section-faq__single {
        &--header {
          box-shadow: 0px 12px 50px rgba(48,74,210,0.13);
          .icon img {
            transition: .3s;
            transform: rotate(0);
          }
        }
        &--data {
          display: block;
        }
      }
    }
  }
}
