.c-footer {
    background: linear-gradient(353.8deg, #413686 1.64%, #4B33E1 4.05%, #413686 8.72%, #4B33E1 18.69%, #791FE2 32.73%, #892AE2 45.77%, #791FE2 57.61%, #791FE2 67.85%, #892AE2 75.33%);
}

.c-footer__logo {
    // display: inline-block;
    vertical-align: middle;
    
    &:first-child {
        margin-left: 0;
    }

    @media(min-width: $screen-xs) {
        margin-left: 50px;
    }
}

.c-footer-copyright {
    background: #fff;
    text-align: center;
    color: #364363;
    font-size: 14px;
    padding: 40px 20px;
}