.c-form-horizontal {
    background: linear-gradient(321.53deg, #413686 1.64%, #4B33E1 4.05%, #413686 8.72%, #4B33E1 18.69%, #791FE2 32.73%, #892AE2 45.77%, #791FE2 57.61%, #791FE2 67.85%, #892AE2 75.33%);
    box-shadow: 0px 15px 50px rgba(76, 51, 226, 0.4);
    border-radius: 20px;
    padding: 52px 30px;
    color: #fff;
}

.c-form-horizontal__title {
    margin-top: 0;
    margin-bottom: 70px;
}

.c-form-horizontal__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
}

.c-form-horizontal__text {
    margin-bottom: 20px;
}