.c-form {
    @include placeholder($color: #7A7D98);

    position: relative;
    color: #fff;
    width: 100%;
    background: #fff;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    border-radius: 20px;
    padding: 20px;

    @media(min-width: $screen-lg) {
        padding: 50px 40px;
    }
}

.c-form__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2F284E;
    margin-bottom: 30px;
    text-align: center;
}

.c-form__response {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 40px;
    text-align: center;
    display: none;
    z-index: 1;
}

.c-form__response-text {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 10px;
    transform: translateY(-50%);
}

.c-form__group {
    margin-bottom: 20px;
}

.c-form__group--submit {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.c-form__group--mb0 {
    margin-bottom: 0;
}

.c-form__control {
    height: 50px;
    width: 100%;
    border: none;
    border: 1px solid #EAEEFA;
    background: #FBFBFF;
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 14px;
    color: #7A7D98;
    transition: .3s all;

    &:focus, &:hover {
        background: #FFFFFF;
        box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
        outline: none;
    }

    &.error {
        border-color: red;
        outline: none;
    }
}

textarea.c-form__control {
    min-height: 120px;
    padding-top: 22px;
}

.c-form__submit {
    min-width: 250px;
}

.c-checkbox {
    position: relative;
}

.c-checkbox__input {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    // Disabled box.
    &:disabled+.c-checkbox__label:before {
        box-shadow: none;
        background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked+.c-checkbox__label:after {
        content: '';
        position: absolute;
        left: 6px;
        top: 4px;
        
        @extend .svg-tick;
        @extend .svg-tick-dims;
    }

    &.error + .c-checkbox__label:before {
        outline: 1px solid red;
    }
}

.c-checkbox__label {
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #2F284E;
    font-size: 14px;
    line-height: 17px;
    padding-left: 40px;
    display: block;

    &:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 25px;
        height: 25px;
        background: #FBFBFF;
        border: 1px solid #EAEEFA;
        position: absolute;
        left: 0;
    }
}