.c-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //background: #467FFF;
    z-index: 5;

    .c-socials {
        li {
            a {
                @media(max-width: $screen-xxl) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    @media(min-width: $menu-collapse-breakpoint) {
        background: transparent;
    }
  @media screen and (max-width: 1120px) {
    top: 10px;
      z-index: 20;
      position: fixed;
  }
}

.c-header__main {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background: #467FFF;
        //display: none;

        @media(min-width: $menu-collapse-breakpoint) {
            //display: block;
        }

        @media all and (max-width: 768px) {
            width: 20%;
        }
    }
}

.c-header__logo {
    display: block;
    position: relative;

    svg {
        width: 160px;
        height: auto;
        @media all and (max-width: 768px) {
            width: 110px;
        }
    }

    @media(min-width: $menu-collapse-breakpoint) {
        svg {
            width: 170px;
        }
    }

    @media(min-width: $screen-xxl) {
        svg {
            width: 234px;
        }
    }
}

.c-header__phone, .c-header__address {
    color: $color-primary;
    text-decoration: none;
    display: block;
    text-align: left;
}

.c-header__phone {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;

    @media(min-width: $screen-xxl) {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 22px;
    }
}

.c-header__address {
    font-size: 12px;
    line-height: 22px;

    @media(min-width: $screen-xxl) {
        font-size: 14px;
    }
}
