.icon-tabs {
  padding-bottom: 110px;
  padding-top: 1px;
  &__header {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;

    li,
    .slick-slide {
      position: relative;
      width: 210px;
      height: 200px;
      &:nth-child(1) a {
        span {
          color: #7EEFBD;
        }

        &::before {
          background: linear-gradient(237.77deg, #87F7E2 12.19%, #76E8A0 83.59%);
        }
      }

      &:nth-child(2) a {
        span {
          color: #FA9FA6;
        }

        &::before {
          background: linear-gradient(237.77deg, #FEC1B2 12.19%, #F57696 83.59%);
        }
      }

      &:nth-child(3) a {
        span {
          color: #B094FF;
        }

        &::before {
          background: linear-gradient(237.77deg, #B3B8FF 12.19%, #A750FF 83.59%);
        }
      }

      &:nth-child(4) a {
        span {
          color: #FFA870;
        }

        &::before {
          background: linear-gradient(238.29deg, #FFC371 12.15%, #FF5F6D 86.64%);
        }
      }

      &:nth-child(5) a {
        span {
          color: #B9D73B;
        }

        &::before {
          background: linear-gradient(238.29deg, #E2FD6E 12.15%, #B2D133 86.64%);
        }
      }

      &:nth-child(6) a {
        span {
          color: #FFC968;;
        }

        &::before {
          background: linear-gradient(238.29deg, #FEE77A 12.15%, #FFA751 86.64%);
        }
      }

      &:nth-child(7) a {
        span {
          color: #7BE5DE;
        }

        &::before {
          background: linear-gradient(87.48deg, #5AD9D0 8.66%, #A4F4EF 93.06%);
        }
      }
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      text-align: center;
      box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: .1;
        border-radius: 20px;
        transition: .3s;
      }

      &:hover,
      &.is-active {
        &::before {
          transition: .3s;
          opacity: 1;
        }
        span {
          color: white !important;
        }
      }
    }

    img {
      height: 140px;
      object-fit: cover;
    }

    span {
      display: block;
      font-size: 16px;
      line-height: 40px;
      font-weight: bold;
    }
  }
  &__data {
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    border-radius: 20px;
    padding: 10px 50px;
    .js-tab {
      &:nth-child(1) {
        .icon-tabs__data-title h6 {
          color: #7EEFBD;
        }

        .icon-tabs__data-button button {
          background: linear-gradient(237.77deg, #87F7E2 12.19%, #76E8A0 83.59%);
          box-shadow: 0px 10px 30px rgba(126, 239, 189, 0.3);
        }
      }

      &:nth-child(2) {
        .icon-tabs__data-title h6 {
          color: #FA9FA6;
        }

        .icon-tabs__data-button button {
          background: linear-gradient(237.77deg, #FEC1B2 12.19%, #F57696 83.59%);
          box-shadow: 0px 10px 30px rgba(250, 159, 166, 0.3);
        }
      }

      &:nth-child(3) {
        .icon-tabs__data-title h6 {
          color: #B094FF;
        }

        .icon-tabs__data-button button {
          background: linear-gradient(237.77deg, #B3B8FF 12.19%, #A750FF 83.59%);
          box-shadow: 0px 10px 30px rgba(176, 148, 255, 0.3);
        }
      }

      &:nth-child(4) {
        .icon-tabs__data-title h6 {
          color: #FFA870;
        }

        .icon-tabs__data-button button {
          background: linear-gradient(238.29deg, #FFC371 12.15%, #FF5F6D 86.64%);
          box-shadow: 0px 10px 30px rgba(255, 168, 112, 0.3);
        }
      }

      &:nth-child(5) {
        .icon-tabs__data-title h6 {
          color: #B9D73B;
        }

        .icon-tabs__data-button button {
          background: linear-gradient(238.29deg, #E2FD6E 12.15%, #B2D133 86.64%);
          box-shadow: 0px 10px 30px rgba(185, 215, 59, 0.3);
        }
      }

      &:nth-child(6) {
        .icon-tabs__data-title h6 {
          color: #FFC968;;
        }

        .icon-tabs__data-button button {
          background: linear-gradient(238.29deg, #FEE77A 12.15%, #FFA751 86.64%);
          box-shadow: 0px 10px 30px rgba(255, 201, 104, 0.3);
        }
      }

      &:nth-child(7) {
        .icon-tabs__data-title h6 {
          color: #7BE5DE;
        }

        .icon-tabs__data-button button {
          background: linear-gradient(87.48deg, #5AD9D0 8.66%, #A4F4EF 93.06%);
          box-shadow: 0px 10px 30px rgba(123, 229, 222, 0.3);
        }
      }
    }
  }
  &__data-title{
    padding-right: 15px;
    h6 {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      margin: 0;
      padding-bottom: 10px;
    }
    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 5px;
      margin: 0;
    }
    a {
      font-weight: 500;
      font-size: 13px;
      line-height: 22px;
      color: #483E8A;
      text-decoration-line: underline;
    }
  }
  &__data-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__data-description {
    background: #F7F8FF;
    border-radius: 20px;
    padding: 30px 40px;
    font-size: 13px;
    line-height: 22px;
    color: #364363;
    width: 540px;
  }

  &__data-price {
    padding: 0 15px;
    width: 350px;
    div {
      span {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: line-through;
        color: #7A7D98;
        padding-right: 10px;
      }
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      color: #483E8A;
    }
    p {
      margin: 0;
      padding-top: 10px;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      color: #7A7D98;
    }
  }
  &__data-button {
    .o-button-default {
      padding: 0;
      height: 60px;
      width: 230px;
      font-size: 14px;
    }
  }
}

@media all and (max-width: 500px) {
  .icon-tabs {
    padding-bottom: 0;
    margin-bottom: 0;
    .l-container {
      padding: 0;
    }
    .icon-tabs__header {
      position: relative;
      //padding: 0 15px;
    }
    .icon-tabs__header .icon-tab-el {
      width: 140px;
      height: 130px;
      a {
        width: 140px;
        margin: 0 auto;
        &::before {
          width: 140px;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
    }
    .slick-slide {
      margin: 20px 0 40px;
      height: auto;
    }
    .js-toggle-tab {
      img {
        margin: 0 auto;
        height: 80px;
        width: 80px;
        object-fit: contain;
      }
    }
    .icon-tabs__data {
      width: calc(100vw - 30px);
      margin: 0 auto;
    }
    .icon-tabs__data-container {
      flex-direction: column;
    }
    .icon-tabs__data {
      padding: 30px 10px;
    }
    .icon-tabs__data-title,
    .icon-tabs__data-price,
    .icon-tabs__data-button,
    .icon-tabs__data-description {
      width: 100%;
    }
    .icon-tabs__data-description {
      font-size: 11px;
      line-height: 18px;
      padding: 15px;
    }
    .icon-tabs__data-title h6 {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }
    .icon-tabs__data-title p {
      padding-bottom: 15px;
      text-align: center;
      font-size: 11px;
      line-height: 22px;
    }
    .icon-tabs__data-price {
      margin-top: 20px;
      div {
        font-size: 24px;
        line-height: 28px;
        span {
          font-size: 11px;
          line-height: 13px;
        }
      }
    }
    .icon-tabs__data-price p {
      font-size: 10px;
      line-height: 12px;
      text-align: center;
    }
    .icon-tabs__data-button {
      margin-top: 0;
      button {
        margin: 0 auto;
      }
    }
  }
}
