.language-chooser {
    @include list-reset;

    background: #FFFFFF;
    border-radius: 60px;
    display: inline-block;
    font-size: 0;

    li {
        vertical-align: middle;
        position: relative;

        &:after {
            content: '';
            height: 1px;
            width: 25px;
            background: #DFEAFE;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            margin-top: 16px;
            left: 9px;
            display: inline-block;

            @media(min-width: $screen-xxl) {
                left: initial;
                margin-top: -12px;
                height: 25px;
                width: 1px;
            }
        }

        &:last-child:after {
            display: none;
        }

        &.active {
            a {
                color: #4B33E1;
            }
        }

        a {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: $color-primary;
            padding: 10px;
            display: block;

            @media(min-width: $screen-xxl) {
                padding: 23px 17px;
            }
        }

        @media(min-width: $screen-xxl) {
            display: inline-block;
        }
    }
}