body.menu--open, html.menu--open {
    overflow: hidden;
    @media all and (max-width: 500px) {
        height: 100vh;
    }
}
.c-main-menu {
    @include list-reset;

    li {
        display: inline-block;

        a {
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            display: inline-block;
            padding: 17px 10px;
            position: relative;
            transition: .3s all;

            @media(min-width: 1500px) {
                padding: 17px 15px;
            }
        }

        &:first-child {
            a {
                padding-left: 0;
            }
        }

        &:last-child {
            a {
                padding-right: 0;
            }
        }

        &.current-menu-item:not(.menu-item-13), &:hover {
            & > a {
                color: #FFC60C;
            }
        }

        &.menu-item-has-children {
            position: relative;

            .sub-menu {
                position: absolute;
                top: 100%;
                padding: 17px 40px;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s all;
                z-index: 20;
                text-align: left;
                width: 260px;
                background: #FFFFFF;
                box-shadow: 0px 0px 50px rgba(48, 74, 210, 0.2);
                border-radius: 20px;
                // width: 250px;
                // margin-left: -90px;

                li {
                    margin: 0;
                    display: block;

                    a {
                        color: $color-primary;
                        font-size: 14px;
                        line-height: 24px;
                        display: block;
                        padding: 8px 0;
                        position: relative;
                    }

                    &:hover, &.current-menu-item {
                        a {
                            color: #FFC60C;
                        }
                    }
                }
            }

            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.c-main-menu__toggle {
    //width: 40px;
    background-color: transparent;
    border: none;
    //display: inline-block;
    //margin-left: 15px;
    cursor: pointer;
    padding: 0;
    height: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        display: block;
        height: 2px;
        width: 16px;
        background-color: #fff;
        &:nth-child(2) {
            width: 10px;
        }
        //margin-bottom: 4px;
    }
    button {
        width: 100%;
        display: block;
    }
}

/**
 * TOPBAR MENU
 */
.c-main-menu-topbar {
    @include list-reset;

    li {
        display: inline-block;

        a {
            color: $color-primary;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-decoration: none;
            padding: 14px 40px;
            display: block;

            @media(min-width: $screen-xxl) {
                padding: 14px 52px;
            }
        }

        &:first-child {
            a {
                padding-left: 0;
            }
        }

        &:last-child {
            a {
                padding-right: 0;
            }
        }
    }
}

@media all and (max-width: 500px) {
    .c-header .l-header__menu .plyr__controls__item svg {
        transform: scale(0.5);
    }
}

/**
 * MAIN MENU MOBILE
 */
.c-main-menu-mobile__wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    display: none;
    z-index: 19;
    .l-header__mobile {
        padding-top: 70px;
        .l-header__socials {
            width: 100%;
            margin: 0;
            display: flex;
            padding-left: 15px;
        }
        .l-header__contacts {
            margin: 0;
            padding-left: 5px;
            padding-top: 25px;
            a {
                color: #2F284E;
                &.c-header__phone {
                    font-size: 11px;
                    line-height: 22px;
                }
                &.c-header__address {
                    font-size: 10px;
                    line-height: 22px;
                }
            }
        }
    }
    .o-button-default {
        margin: 30px 0 0 40px;
    }
}
.c-main-menu-mobile__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}
.c-main-menu-mobile__close {
    margin: auto;
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    font-size: 48px;
    font-weight: 300;
    font-family: Arial, sans-serif;
    color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 38px;
    left: 25px;
    z-index: 3;

    &:focus, &:active {
        outline: none;
    }

    i {
        @include absolute-center;

        font-style: normal;
    }
}

.c-main-menu-mobile {
    @include list-reset;

    color: #2F284E;

    & > li {
        display: block;

        & > a {
            font-size: 32px;
            line-height: 36px;
            font-weight: bold;
            color: #2F284E;
            padding: 8px 5px;
            text-decoration: none;
            display: inline-block;

            @media(max-width: 500px) {
                font-size: 11px;
                line-height: 36px;
                padding: 0 0 0 15px;
                display: flex;
                align-items: center;
                &:before {
                    content: '';
                    height: 8px;
                    width: 8px;
                    background: #4B33E1;
                    opacity: .1;
                    margin-right: 16px;
                    margin-left: 6px;
                    border-radius: 4px;
                }

            }

            &:focus, &:active {
                outline: none;
            }

        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            a {
                &:before {
                    content: '';
                    height: 15px;
                    width: 15px;
                    background-image: url("../../img/templates/menu_icon.svg");
                    opacity: 1;
                    margin-right: 12px;
                    margin-left: 0;
                    border-radius: 4px;
                    background-color: transparent;
                }
            }
        }

        &:nth-child(4) a {
            padding-top: 20px;
        }

        &:nth-child(4) a ,
        &:nth-child(5) a ,
        &:nth-child(6) a ,
        &:nth-child(7) a ,
        &:nth-child(8) a ,
        &:nth-child(9) a ,
        &:nth-child(10) a {
            font-size: 10px;
            line-height: 30px;
            font-weight: 500;
        }
    }

    li.menu-item-has-children {
        & > a {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -3px;
                margin-left: 5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5.5px 0 5.5px 5px;
                border-color: transparent transparent transparent #ffffff;
            }
        }
    }

    .sub-menu {
        display: none;
        @include list-reset;

        position: absolute;
        top: -30px;
        padding-top: 30px;
        left: 100%;
        height: 100%;
        width: calc(100% - 80px);
        background: #fff;
        transition: .5s all;
        z-index: 1;

        &.is-shown {
            left: 80px;
        }

        li {
            a {
                color: $color-red;
                font-weight: 700;
                font-size: 20px;
                line-height: 25px;
                padding: 10px 5px;
                display: inline-block;
                text-decoration: none;

                @media(min-width: $screen-sm) {
                    font-size: 35px;
                    line-height: 40px;
                    padding: 15px 5px;
                    max-width: 350px;
                }
            }

            &.sub-menu-title {
                a {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 40px;
                    text-align: center;
                    color: #FFC8C8;

                    @media(min-width: $screen-sm) {
                        font-size: 52px;
                    }
                }
            }
        }
    }
}

.c-main-menu-mobile__content {
    padding-top: 25px;
    width: 100%;
    height: 100%;
}

.c-main-menu-mobile-contacts {
    text-align: center;
    max-width: 200px;
    margin: 35px auto 0;

    .o-contact-link {
        color: #fff;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;

        .icon {
            filter: brightness(100);
        }
    }
}
