.c-section-main-bg {
  position: relative;
  margin-top: 0;
  &__title {
    color: white;
    text-align: center;
  }
  &__form {
    background-color: white;
    border: 4px solid rgba(72, 62, 138, 0.1);
    box-sizing: border-box;
    box-shadow: 0 12px 50px rgba(48, 74, 210, 0.13);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 12px 30px;
    min-height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    .o-button-default {
      width: 230px;
      height: 60px;
      font-size: 14px;
      line-height: 60px;
      padding: 0;
    }
  }
  &__single {
    width: 145px;
    font-size: 14px;
    span {
      display: block;
      font-weight: 900;
    }
    &::before{
      content: '';
      position: absolute;
      height: 4px;
      width: 100px;
      border-radius: 4px;
      top: -4px;
    }
    &:nth-child(1)::before {
      background: linear-gradient(to right, #4B33E1, #892AE2);
    }
    &:nth-child(2)::before {
      background: linear-gradient(to right, #FEE77A, #FFA751);
    }
    &:nth-child(3)::before {
      background: linear-gradient(to right, #F6A7CD, #E152B7);
    }
    &:nth-child(4)::before {
      background: linear-gradient(to right, #B4EFFC, #209EF9);
    }
  }
  &__email {
    padding-right: 48px;
    text-decoration: underline;
    a {
      color: #2F284E;
    }
  }
  .camp_main__bg {
    position: absolute;
    bottom: -65px;
    left: 0;
    z-index: 1;
  }
  .camp_main__img {
    position: relative;
    z-index: 2;
  }
  .l-position {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 3;
    bottom: 48px;
  }
  .left-block,
  .right-block {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}
