.c-map {
    width: 100%;
    height: 670px;
    position: relative;

    @media(min-width: $screen-xl) {
        width: 50%;
        height: 100%;
        position: absolute;
        right: -100px;
        top: 0;
    }
}

.c-map__button {
    padding: 11px;
    margin-top: 20px;
    margin-bottom: 30px;

    .icon {
        position: relative;
        top: 1px;
        display: none;

        @media(min-width: $screen-xs) {
            display: inline-block;
        }
    }

    @media(max-width: $screen-md) {
        font-size: 18px;
        width: 100%;
    }

    @media(min-width: $screen-lg) {
        margin-bottom: 50px;
    }
}

.c-map__text {
    @include gutters;

    position: absolute;
    top: 35px;
}

.c-map__title {
    margin-bottom: 15px;
}

.c-map__link {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}

.c-map__footer {
    width: 100%;

    @media(max-width: $screen-md) {
        @include gutters;

        position: absolute;
        bottom: 20px;

        .c-socials {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            svg {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.c-map-tour {
    height: 440px;
    width: 100%;
    margin-top: 70px;

    @media(min-width: $screen-md) {
        height: 570px;
    }
}

.c-map-tour__container {
    position: relative;
    cursor: pointer;
}

.c-map-tour__bg-wrap, .c-map-tour__bg {
    transition: .35s;
    transform: scale(1);
    overflow: hidden;
}

.c-map-tour__bg-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;

    &:after {
        content: '';
        background: linear-gradient(59.61deg, #FF625A 0%, rgba(255, 98, 90, 0) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .3s all;
    }

    &:hover {
        &:after {
            opacity: .15;
        }
    }
}

.c-map-tour__bg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
        content: '';
        
        @include absolute-center;
    }
}

.c-map-tour__button {
    position: absolute;
    top: 50%;
    margin-top: 70px;
    left: 50%;
    transform: translateX(-50%); 
}