.news-block {
  text-align: center;
  &__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      width: 23%;
      margin-bottom: 40px;
    }
  }
  button {
    margin: 60px auto;
  }
}
