body.popup--open, html.popup--open {
  overflow: hidden;
}
#popup {
  position: fixed;
  z-index: 700;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  transition: .4s;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  &.popup--open {
    transition: .4s;
    opacity: 1;
    visibility: visible;
  }
  .popup {
    &-container {
      max-width: 860px;
      width: 100%;
    }
  }
  &[data-open="booking"] {
    .popup-description[data-popup-type="booking"] {
      display: block;
    }
  }
  &[data-open="entry"] {
    .popup-description[data-popup-type="entry"] {
      display: block;
    }
  }
  .popup-description {
    display: none;
  }
  .c-form-horizontal__subtitle {
    margin-top: 0;
  }

  .popup__close {
    position: absolute;
    top: 65px;
    right: 65px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    transition: .3s;
    cursor: pointer;
    span {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
    &:hover {
      transform: rotate(90deg);
      transition: .3s;
    }
  }
  
  .c-form-horizontal__title {
    display: none;
  }

  @media all and (max-width: 500px) {
    .c-form-horizontal {
      padding: 35px 20px;
    }
    .c-form-horizontal__subtitle {
      margin-bottom: 15px;
    }
    .popup__close {
      top: 20px;
      right: 20px;
    }
  }
}
