.schedule-section {
  .schedule {
    &__bg {
      position: absolute;
      bottom: 220px;
      left: 0;
      z-index: -1;
    }
    &__container {
      padding-top: 70px;
      display: flex;
      justify-content: center;
    }
    &__data {
      margin: 0 22px;
      width: 420px;
      background: #FFFFFF;
      box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
      border-radius: 20px;
      height: 500px;
      position: relative;
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-position: right bottom;
        bottom: 0;
        height: 100%;
        width: 100%;
        right: 0;
      }
      &::before {
        background-image: url("../../img/templates/camp/rectangle_2.2.svg");
      }
      &::after {
        background-image: url("../../img/templates/camp/rectangle_2.3.svg");
      }
      img {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 280px;
        border-radius: 20px 20px 0 0;
      }
      h6 {
        margin: 0;
        padding-top: 35px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #483E8A;
      }
      p {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        padding: 30px 40px 15px;
        line-height: 24px;
        text-align: center;
        color: #364363;
      }
    }
  }
}
