section {
    margin-top: 90px;
    margin-bottom: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    // overflow: hidden;

    @media(min-width: $screen-lg) {
        margin-top: 130px;
        margin-bottom: 130px;
    }
}

.c-section-hero {
    background-image: url('../../img/hero-bg-pattern.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0;
    padding-top: 200px;
    min-height: 1056px;

    @media(min-width: $screen-lg) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.c-section-lessons {
    min-height: 1456px;

    @media(min-width: $screen-lg) {
        margin-top: 90px;
    }
}

.c-section-lessons__bg {
    position: absolute;
    top: 120px;
    left: 0;
}

.c-section-teachers {
    @media(min-width: $screen-lg) {
        margin-bottom: 0;
    }
}

.c-section-teachers__bg {
    position: absolute;
    top: -80px;
    right: 0;
}

.c-section-about {
    background-image: url('../../img/about-bg-pattern.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0;
    padding-top: 250px;
    padding-bottom: 250px;

    @media(min-width: $screen-lg) {
        margin-top: 0;
    }
}

.c-section-feedback {
    @media(min-width: $screen-lg) {
        margin-bottom: 250px;
    }
}

.c-section-feedback__bg {
    position: absolute;
    top: -220px;
    left: 0;
    width: 100%;
    height: auto;
}

.c-section-news {
    position:relative;
    padding-top: 100px;
    &::before {
        content: '';
        background-image: url('../../img/news-bg-pattern.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 508px;
    }

    @media(min-width: $screen-lg) {
        margin-bottom: 200px;
    }
}

.c-section-contacts {
    padding-top: 70px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;

    @media(min-width: $screen-lg) {
        margin-top: 0;
        margin-bottom: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(270.56deg, #F6F7FF 50%, #FBF6FF 73.71%, rgba(246, 247, 255, 0) 98.94%);

        @media(min-width: $screen-xl) {
            width: 50%;
        }
    }
}

.c-section-about-course {

}

.c-section-about-course__bg {
    position: absolute;
    top: -180px;
    left: 0;
}

.c-section-about-course__decor {
    position: absolute;
    bottom: -250px;
    right: 0;
}

.c-section-prices {
    @media(min-width: $screen-lg) {
        margin-bottom: 90px;
    }
}

.c-section-prices__bg {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

.c-section-reasons {

}

.c-section-reasons__bg {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: -1;
}

.c-section-steps {
    @media(min-width: $screen-lg) {
        margin-bottom: 200px;
    }
}

.c-section-photos {
    @media(min-width: $screen-lg) {
        margin-top: 200px;
        margin-bottom: 200px;
    }
}

.c-section-photos__bg {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: -1;
}

.c-section-form {
    @media(min-width: $screen-lg) {
        margin-top: 90px;
        margin-bottom: 230px;
    }
}

.c-section-form__bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 100px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.c-section-video {
    @media(min-width: $screen-lg) {
        margin-bottom: 330px;
    }
}

.c-section-video__bg {
    position: absolute;
    top: -10px;
    left: 1%;
    z-index: -1;
}

.c-section-video__decor {
    position: absolute;
    top: 100%;
    right: 0;
}
