.c-socials {
    @include list-reset;

    font-size: 0;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        a {
            display: block;
            transition: .3s all;
            width: 45px;
            height: 45px;
            background: #FFFFFF;
            border-radius: 50%;
            position: relative;

            svg {
                @include absolute-center;
            }

            &:hover {
                transition: .3s;
                background: linear-gradient(90.34deg, #467FFF 0%, #4B33E1 49.14%, #882AE2 97.14%);
                path {
                    fill: white;
                }
            }
        }
    }

    svg {
        path {
            transition: .3s all;
        }
    }
}

.c-socials--minimal {
    li {
        margin: 0 30px;

        a {
            background: transparent;
            height: 14px;
            width: 14px;
        }
    }
}

.c-socials--white {
    svg {
        path {
            fill: #fff;
        }
    }
}
