%svg-common {
	background: url("../../img/sprite.svg") no-repeat;
}

.svg-card-arrow-left {
	@extend %svg-common;
	background-position: 77.58620689655173% 48.148148148148145%;
}

.svg-card-arrow-left-dims {
	width: 22px;
	height: 10px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 68.70229007633588% 84.61538461538461%;
}

.svg-facebook-dims {
	width: 7px;
	height: 13px;
}

.svg-instagram {
	@extend %svg-common;
	background-position: 84.6774193548387% 63.63636363636363%;
}

.svg-instagram-dims {
	width: 14px;
	height: 14px;
}

.svg-play {
	@extend %svg-common;
	background-position: 75.1937984496124% 81.48148148148148%;
}

.svg-play-dims {
	width: 9px;
	height: 10px;
}

.svg-quote {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-quote-dims {
	width: 48px;
	height: 39px;
}

.svg-slider-arrow-left {
	@extend %svg-common;
	background-position: 89.6% 47.5609756097561%;
}

.svg-slider-arrow-left-dims {
	width: 13px;
	height: 9px;
}

.svg-slider-arrow-right {
	@extend %svg-common;
	background-position: 100% 47.5609756097561%;
}

.svg-slider-arrow-right-dims {
	width: 13px;
	height: 9px;
}

.svg-tick {
	@extend %svg-common;
	background-position: 95.2% 63.63636363636363%;
}

.svg-tick-dims {
	width: 13px;
	height: 14px;
}

.svg-video-play {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-video-play-dims {
	width: 90px;
	height: 91px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 73.17073170731707% 66.21621621621621%;
}

.svg-youtube-dims {
	width: 15px;
	height: 17px;
}

