.js-tab {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.6s opacity;

    &.is-active {
        opacity: 1;
        height: auto;
        overflow: initial;
    }
}

.c-tabs-nav {
    @include list-reset;

    background: linear-gradient(92.58deg, #467FFF 0%, #4B33E1 49.14%, #882AE2 97.14%);
    border-radius: 60px;
    display: inline-block;
    padding: 5px;
    margin-bottom: 110px;

    li {
        display: inline-block;

        a {
            font-size: 15px;
            color: #fff;
            padding: 16px 26px;
            border-radius: 60px;
            transition: .3s all;
            display: block;

            &.is-active {
                color: #6330E2;
                background: #FFFFFF;
                box-shadow: 0px 10px 30px rgba(101, 48, 226, 0.3);
            }
        }

        &.current-menu-item {
            a {
                color: #6330E2;
                background: #FFFFFF;
                box-shadow: 0px 10px 30px rgba(101, 48, 226, 0.3);
            }
        }
    }
}

.c-tabs-nav-big {
    @include list-reset;

    li {
        display: inline-block;

        &:before {
            content: '/';
            font-size: 24px;
            line-height: 68px;
            color: #68637E;
            display: inline-block;
            margin-left: 25px;
            margin-right: 10px;
        }

        &:first-child {
            &:before {
                display: none;
            }

            a {
                color: #2F284E;
                font-weight: bold;
                font-size: 48px;
                line-height: 68px;
            }
        }

        a {
            font-size: 24px;
            line-height: 68px;
            color: #68637E;
            transition: .3s all;
            display: inline-block;
        }
    }
}

@media all and (max-width: 500px){
    .c-tabs-nav {
        padding: 2px;
        display: flex;
        li {
          width: 50%;
          a {
            font-size: 10px;
            line-height: 12px;
          }
        }
        .c-slider-tabs-mobile {
            width: 240px;
            li {
                width: 80px;
                a {
                    height: 36px !important;
                    width: 100% !important;
                }
            }
        }
        &.tabs-mob {
            display: flex;
            justify-content: center;
            height: 40px;
            li {
                a {
                    height: 36px !important;
                    width: 100% !important;
                }
            }
            &__col-3 {
                li {
                    width: 33.33%;
                }
            }
        }
        &.visible--mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
        }
        &--arrow {
            margin: 0;
            padding: 0;
            background: transparent;
            border: none;
            outline: none;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            opacity: .6;
            &-right {
                transform: rotate(180deg);
            }
        }
    }
}
