.c-video {
    cursor: pointer;
}

.c-video__cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    border-radius: 20px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        opacity: 0;
        background: linear-gradient(180deg, rgba(76, 52, 225, 0.4) 0%, rgba(137, 43, 226, 0.4) 100%);
    }

    &:after {
        content: '';

        @include absolute-center;
        @extend .svg-video-play;
        @extend .svg-video-play-dims;
    }
}

.c-video__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #483E8A;
    margin-top: 10px;
    margin-bottom: 20px;
}

.c-video-playlist {

    .c-video__cover {
        height: 180px;

        &:before {
            opacity: 1;
        }

        &:after {
            transform: scale(.55);
        }
    }
}

.plyr--video {
    border-radius: 20px;
    position: relative;
    text-align:  center;

    &.plyr--playing {
        .plyr__video-embed:after {
            opacity: 0;
        }
    }

    .plyr__video-embed {
        padding-bottom: 56.2% !important;

        &:after {
            content: '';
            opacity: 1;
            transition: .3s all;
            z-index: 1;

            @include absolute-center;
            @extend .svg-video-play;
            @extend .svg-video-play-dims;
        }
    }
}

@media all and (max-width: 500px) {
    .l-video__playlist {
        width: 100% !important;
    }
    .l-video__video {
        width: 100% !important;
        margin-bottom: 30px;
    }
    .plyr--video .plyr__video-embed:after {
        transform: scale(.55);
    }
}
