html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font-family-main;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: $color-primary;
    position: relative;
    background: #fff;
    // padding-right: 0 !important;
}

img {
    max-width: 100%;
    height: auto;
}

button, input[type="submit"] {
    cursor: pointer;
    font-family: $font-family-main;
}

input, textarea {
    font-family: $font-family-main;
}

a {
    text-decoration: none;
    color: $color-red;
}

h1, .h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 30px;

    span {
        font-weight: 300;
    }

    @media(min-width: $screen-lg) {
        font-size: 64px;
        line-height: 68px;
        margin-bottom: 50px;
    }

}

h2, .h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 30px;

    span {
        font-weight: normal;
        font-size: 24px;
        color: #68637E;
        margin-left: 25px;
    }

    @media(min-width: $screen-lg) {
        font-size: 48px;
        line-height: 68px;
        margin-bottom: 60px;
    }

}
body {
  h2 {
    @media all and (max-width: 500px) {
      font-size: 18px !important;
      margin-bottom: 30px !important;
      line-height: 26px !important;
      margin-top: 0 !important;
    }
  }
}

h3, .h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 30px;

    @media(min-width: $screen-lg) {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 40px;
    }
}

h5, .h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 20px;

    span {
        font-weight: normal;
    }

    @media(min-width: $screen-lg) {
        font-size: 24px;
        line-height: 32px;
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.wysiwyg {
    p {

    }

    a {

    }

    ul, ol {
        li {
        }
    }

    ul {
    }

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    @media(min-width: $screen-md) {
        img {
            width: auto;
            height: auto;
        }

        img.alignleft {
            float: left;
            margin-right: 30px;
        }

        img.alignright {
            float: right;
            margin-left: 30px;
        }

        img.aligncenter {
            display: block;
            margin: 30px auto;
        }
    }
}

.plyr--audio {
    width: 160px;
    min-width: 0;

    @media(min-width: $screen-xxl) {
      width: 190px;
    }

    @media all and (max-width: 768px){
      width: 120px;
    }

    .plyr__controls {
        height: 60px;
        border-radius: 60px;
      .plyr__controls__item {
        &.plyr__control {
          height: 40px;
          width: 40px;
          background-color: #882AE2;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          svg {
            transform: scale(.7);
          }
          &:hover {
            background-color: #882AE2;
          }
        }
      }

      @media all and (max-width: 768px){
        height: 35px;
        .plyr__controls__item.plyr__control {
          height: 29px;
          width: 29px;
          border-radius: 15px;
          background: #882AE2;
          color: white;
          box-shadow: 0px 5px 10px rgba(129, 51, 242, 0.3);
          padding: 5px;
          svg {
            margin-left: 2px;
          }
        }
      }
        input[type='range'] {
            border-radius: 2px;
            height: 3px;
            width: 90px;
            background: #EEF2FE;
            -webkit-appearance: none;
            padding: 0;
            border: 0;

            @media(min-width: $screen-xxl) {
              width: 100px;
            }

            @media all and (max-width: 768px){
              width: 65px;
            }


            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              border: 1px solid #000000;
              height: 12px;
              width: 4px;
              border-radius: 2px;
              background: #11224E;
              cursor: pointer;
              margin-top: -4px;
            }

            /* All the same stuff for Firefox */
            &::-moz-range-thumb {
              border: 1px solid #11224E;
              height: 12px;
              width: 4px;
              border-radius: 2px;
              background: #ffffff;
              cursor: pointer;
            }

            /* All the same stuff for IE */
            &::-ms-thumb {
              border: 1px solid #11224E;
              height: 3px;
              width: 4px;
              border-radius: 2px;
              background: #ffffff;
              cursor: pointer;
            }

            &::-webkit-slider-runnable-track {
              width: 100%;
              height: 3px;
              cursor: pointer;
              background: transparent linear-gradient(#8133F2, #8133F2) no-repeat;
              border-radius: 2px;
            }

            //&::-moz-range-track {
            //  //width: 100%;
            //  height: 3px;
            //  cursor: pointer;
            //  background: transparent linear-gradient(#8133F2, #8133F2) no-repeat;
            //  border-radius: 2px;
            //}

            &::-ms-track {
              //width: 100%;
              height: 3px;
              cursor: pointer;
              background: transparent;
              border-color: transparent;
              border-width: 16px 0;
              color: transparent;
            }

            @for $i from 0 through 100 {
              &[aria-valuenow='#{$i}'] {
                &::-webkit-slider-runnable-track {
                  background-size: #{$i}% 100%;
                }
              }
            }

          &[aria-valuenow='55.00000000000001']::-webkit-slider-runnable-track {
            background-size: 55% 100%;
          }

            //&::-ms-fill-lower {
            //  background: #8133F2;
            //  border-radius: 2px;
            //}
            //
            //&:focus::-ms-fill-lower {
            //  background: #8133F2;
            //}
            //
            //&::-ms-fill-upper {
            //  background: #8133F2;
            //  border-radius: 2px;
            //}
            //
            //&:focus::-ms-fill-upper {
            //  background: #8133F2;
            //}
        }

        //button {
        //    background: #882AE2;
        //    box-shadow: 0px 5px 10px rgba(129, 51, 242, 0.3);
        //    border-radius: 50%;
        //    padding: 11px;
        //
        //    &:hover {
        //        background: #882AE2;
        //    }
        //
        //    svg {
        //        transform: scale(.5);
        //        fill: #fff;
        //    }
        //}
    }
}

$steps: 100;
$height-track: 12px;
$border-width-input: 0;
$border-radius-track: $height-track / 2;
$size-thumb: $height-track * 2;
$border-radius-thumb: 2px;
$margin-top-thumb: -(($height-track / 2));
//$outline: rgba(0, 0, 0, 0.1);
$blue-ish: #8133F2;
$white: #8133F2;

input[type=range1] {
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  width: 100%; // Firefox needs specific width.
  //box-shadow: inset 0 0 0 2px $outline;
  border-radius: $border-radius-track;
  background-color: #323232;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    position: relative;
    width: 100%;
    height: $height-track;
    cursor: pointer;
    background: transparent linear-gradient($blue-ish, $blue-ish) no-repeat;
    border-radius: $border-radius-track;
    background-size: 50% 100%;
  }

  &::-webkit-slider-thumb {
    position: relative;
    //border: $border-width-input solid $outline;
    height: $size-thumb;
    width: $size-thumb;
    border-radius: $border-radius-thumb;
    cursor: -webkit-grab;
    -webkit-appearance: none;
    margin-top: $margin-top-thumb;
    background: #11224E;
    background-position: 50% 50%;
    background-size: 10px 10px;
    transition: all 0.1s ease;

    &:active {
      cursor: -webkit-grabbing;
    }
  }

  @for $i from 0 through $steps {
    &[aria-valuenow='#{$i}']::-webkit-slider-runnable-track {
      background-size: #{$i}% 100%;
    }
  }
}
@media all and (max-width: 500px) {
  .hidden--mobile {
    display: none !important;
  }
  .l-four-columns__item {
    padding: 5px !important;
  }
}
@media all and (min-width: 500px) {
  .visible--mobile {
    display: none !important;
  }
}
