.c-section-nominees-block {
  .l-container {
    display: flex;
    justify-content: center;
  }
  h2 {
    padding-bottom: 40px;
  }
  .nominees-block {
    &__bg {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
    }
    &__single {
      width: 420px;
      margin: 0 50px;
      &:nth-child(1) {
        .nominees-block__data {
          background: linear-gradient(232.52deg, #B3B8FF 12.19%, #A750FF 83.59%);
        }
        .text-color {
          color: #A850FF;
        }
      }
      &:nth-child(2) {
        .nominees-block__data {
          background: linear-gradient(233.08deg, #F6A7CD 12.15%, #E152B7 86.64%);
        }
        .text-color {
          color: #E152B7;
        }
      }
      &:nth-child(3) {
        .nominees-block__data {
          background: linear-gradient(233.08deg, #FEE77A 12.15%, #FFA751 86.64%);
        }
        .text-color {
          color: #FFA852;
        }
      }
    }
    &__header {
      width: 350px;
      position: relative;
      z-index: 2;
      background-color: white;
      box-shadow: 0px 30px 50px rgba(168, 80, 255, 0.3);
      border-radius: 20px;
      margin: 0 auto;
      height: 260px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__data {
      height: 330px;
      width: 100%;
      margin-top: -80px;
      padding: 80px 40px 40px;
      position: relative;
      z-index: 1;
      box-shadow: 0px 30px 50px rgba(255, 168, 82, 0.3);
      border-radius: 20px;
      text-align: center;
      &::before {
        content: '';
        height: 100%;
        position: absolute;
        z-index: -1;
        width: 100%;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../../img/templates/teleprojects/star_opacity.svg");
      }
      h4 {
        font-weight: bold;
        font-size: 24px;
        line-height: 26px;
        padding-top: 40px;
        color: #FFFFFF;
        margin: 0;
      }
      .description {
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        padding-top: 20px;
        color: #FFFFFF;
      }
      .ages {
        padding: 20px 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          height: 55px;
          width: 55px;
          border-radius: 30px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          font-size: 13px;
          line-height: 13px;
        }
        span {
          display: block;
        }
      }
    }
  }
}
