.nominees {
  .c-card-person {
    transition: .3s;
    &__image {
      width: 180px;
      margin-bottom: 30px;
      height: 180px;
      img {
        margin: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 90px;
      }
    }
    &__age,
    &__name,
    &__description-short{
      font-size: 14px;
      line-height: 18px;
      font-weight: normal;
      color: #68637E;
      transition: .3s;
    }
    &__name {
      font-size: 18px;
      line-height: 30px;
      color: #483E8A;
      span {
        font-weight: bold;
      }
    }
    &__description-short {
      margin-top: 20px;
      margin-bottom: 35px;
    }
    &:hover {
      background: linear-gradient(90.2deg, #4B33E1 21.77%, #892AE2 97.17%);
      transition: .3s;
      .c-card-person__age,
      .c-card-person__name,
      .c-card-person__votes-data,
      .c-card-person__description-short {
        color: white;
        transition: .3s;
      }
      .c-card__button {
        background-color: white;
        &:hover {
          background: white;
        }
      }
    }
    &__button-block {
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: space-between;
      .c-card__button {
        border-radius: 30px;
        width: 190px;
        height: 60px;
        font-size: 14px;
        padding: 0;
        line-height: 60px;
      }
      @media all and (min-width: 1200px) and (max-width: 1500px){
        flex-wrap: wrap;
        justify-content: center;
        .c-card-person__votes-data {
          padding-bottom: 15px;
        }
      }
    }
    &__votes-data {
      font-weight: bold;
      font-size: 20px;
      line-height: 16px;
      text-align: center;
      width: 100px;
      color: #483E8A;
      span {
        font-size: 14px;
        display: block;
        padding-top: 3px;
        font-weight: 400;
      }
    }
  }
}
