.c-card-translation {
  background: #FFFFFF;
  box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
  border-radius: 20px;
  padding: 20px;
  height: 200px;
  //margin-top: 50px;
  //margin-bottom: 50px;
  margin: 0 10px;
  max-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
  }
}
.c-slider-translation {
  .slick-list {
    padding: 50px 10px;
  }
  .slick-dots {
    text-align: center;
  }
}
