.camp-features {
  padding-bottom: 150px;
  &__bg {
    position: absolute;
    bottom: -260px;
    right: 0;
    z-index: -1;
  }
  &__container {
    padding-top: 70px;
    display: flex;
    justify-content: center;
  }
  &__data {
    margin: 0 22px;
    width: 420px;
    background: #FFFFFF;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    border-radius: 20px;
    height: auto;
    position: relative;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      height: 100%;
      width: 100%;
      right: 0;
    }
    &::before {
      background-image: url("../../img/templates/camp/card-icon-1.svg");
    }
    &::after {
      background-image: url("../../img/templates/camp/card-icon-2.svg");
    }
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      height: 280px;
      border-radius: 20px 20px 0 0;
    }
    h6 {
      margin: 0;
      padding-top: 35px;
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
      line-height: 36px;
      color: #364363;
    }
    p {
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      padding: 20px 40px 10px;
      line-height: 24px;
      text-align: center;
      color: #364363;
    }
    ul {
      list-style: none;
      padding: 25px 40px;
      li {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 26px;
        padding: 0 20px;
        &::before {
          content: '';
          position: relative;
          display: block;
          top: 19px;
          right: 20px;
          height: 12px;
          width: 12px;
          background-size: cover;
        }
        &:nth-child(odd)::before {
          background-image: url("../../img/templates/camp/star1.svg");
        }
        &:nth-child(even)::before {
          background-image: url("../../img/templates/camp/star2.svg");
        }
      }
    }
  }

  @media all and (max-width: 500px) {
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    .camp-features__container {
      padding-top: 0;
      .camp-features__data {
        margin: 0;
        width: 250px;
        img {
          height: 160px;
        }
        ul {
          margin: 0;
          padding: 15px 20px 30px;
          li {
            font-size: 11px;
            line-height: 18px;
            &::before {
              top: 14px;
            }
          }
        }
        h6 {
          padding-bottom: 0;
          font-size: 14px;
          line-height: 22px;
        }
        p {
          padding: 10px 15px;
          font-size: 11px;
          line-height: 18px;
        }
      }
      .slick-slide {
        padding: 0 5px;
        margin-bottom: 50px;
      }
    }
  }
}
