.our-conditions {
  &__bg {
    position: absolute;
    top: 230px;
    left: 0;
    z-index: -1;
  }
  &__header {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    li {
      position: relative;
      padding: 4px;
      margin: 0 15px;
      border-radius: 20px;
      a.is-active,
      a:hover {
        &:before {
          content: '';
          right: 0;
          left: 0;
          top: 0;
          position: absolute;
          border-radius: 20px;
          bottom: 0;
          z-index: -1;
          opacity: .7;
        }
      }
      &:nth-child(1) a.is-active,
      &:nth-child(1) a:hover {
        &:before {
          background: linear-gradient(217.85deg, #B3B8FF 12.19%, #A750FF 83.59%);
        }
        background: linear-gradient(217.85deg, #B3B8FF 12.19%, #A750FF 83.59%);
        transition: .3s;
      }
      &:nth-child(2) a.is-active,
      &:nth-child(2) a:hover {
        &:before {
          background: linear-gradient(218.41deg, #F6A7CD 12.15%, #E152B7 86.64%);
        }
        background: linear-gradient(218.41deg, #F6A7CD 12.15%, #E152B7 86.64%);
      }
      &:nth-child(3) a.is-active,
      &:nth-child(3) a:hover {
        &:before {
          background: linear-gradient(217.85deg, #FEC1B2 12.19%, #F57696 83.59%);
        }
        background: linear-gradient(217.85deg, #FEC1B2 12.19%, #F57696 83.59%);
      }
    }
    a {
      background: #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
      border-radius: 20px;
      padding: 25px 20px;
      width: 300px;
      transition: .3s;
      display: flex;
      align-items: center;
      span {
        font-weight: bold;
        font-size: 15px;
        width: 110px;
        text-align: center;
        line-height: 68px;
        color: #0A114F;
        transition: .3s;
      }
      img {
        height: 90px;
        width: 140px;
      }
      &:hover,
      &.is-active {
        span {
          transition: .3s;
          color: white;
        }
      }
    }
  }
  &__data {
    max-width: 1200px;
    margin: 50px auto 0;
  }
  &__data-container {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: right bottom;
      bottom: 0;
      height: 100%;
      //z-index: -1;
      width: 100%;
      right: 0;
    }
    &::before {
      background-image: url("../../img/templates/camp/card-icon-1.svg");
    }
    &::after {
      background-image: url("../../img/templates/camp/card-icon-2.svg");
    }
    &_image {
      width: 50%;
      img {
        width: 100%;
        height: 360px;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    &_description {
      width: 50%;
      padding: 0 50px;
      p, li {
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
        margin: 0;
      }
      p {
        padding-bottom: 20px;
      }
      ul {
        margin: 0;
        list-style: none;
        padding: 10px 0 10px 28px;
        li {
          position: relative;
          padding: 5px 0;
        }
      }
      h6 {
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 0;
        color: #2F284E;
        margin: 0;
      }
    }
  }
  &__button {
    margin-top: 80px;
    text-align: center;
    .o-button-default {
      margin: 0 auto;
      span {
        padding-left: 10px;
        position: relative;
        bottom: 10px;
      }
    }
  }
  .js-tab {
    li {
      &::before {
        position: absolute;
        content: '';
        height: 14px;
        width: 14px;
        top: 10px;
        left: -28px;
        background-repeat: no-repeat;
      }
    }
    &:nth-child(3) {
      .our-conditions__data-container {
        border: 1px solid #F57696;
      }
      li::before {
        background-image: url("../../img/templates/camp/star_pink.svg");
      }
    }
    &:nth-child(2) {
      .our-conditions__data-container {
        border: 1px solid #E152B7;
      }
      li::before {
        background-image: url("../../img/templates/camp/star_lite_red.svg");
      }
    }
    &:nth-child(1) {
      .our-conditions__data-container {
        border: 1px solid #A750FF;
      }
      li::before {
        background-image: url("../../img/templates/camp/star_purpul.svg");
      }
    }
  }
  .data-container {
    &__columns {
      display: flex;
      justify-content: space-between;
    }
    &__column {
      width: 45%;
    }
  }
  @media all and (max-width: 500px) {
    margin-top: 0;
    .our-conditions__bg {
      display: none;
    }
    .our-conditions__header {
      li {
        margin: 0 5px;
        width: 90px;
        a {
          padding: 15px;
          img {
            height: 35px;
            margin: 0 auto;
          }
          span {
            padding-top: 5px;
            font-size: 10px;
            line-height: 18px;
          }
        }
      }
    }
    .our-conditions__data-container {
      flex-direction: column;
      padding: 10px;
    }
    .our-conditions__data-container_image {
      margin-bottom: 15px;
      width: 100%;
      img {
        height: 180px;
        display: block;
      }
    }
    .our-conditions__data-container_description {
      width: 100%;
      padding: 0 15px;
      h6 {
        font-size: 14px;
        line-height: 20px;
      }
      ul {
        li {
          font-size: 11px;
          line-height: 18px;
          &::before {
            top: 6px;
          }
        }
      }
      p {
        font-size: 11px;
        line-height: 18px;
        text-align: center;
        padding: 10px 0 5px;
      }
    }
    .our-conditions__data {
      margin: 10px auto 0;
    }
  }
}
