.c-card-star {
    font-size: 0;
    background: #FFFFFF;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    border-radius: 20px;    
    overflow: hidden;
    padding: 27px 27px 27px 0;
}

.c-card-star__image, .c-card-star__text {
    display: inline-block;
    vertical-align: middle;
}

.c-card-star__image {
    position: relative;
    left: -10px;
}

.c-card-star__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #364363;    
    margin-left: 20px;
    max-width: 375px;
}