.c-card {
    background: #FFFFFF;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    text-align: center;
    border-radius: 20px;
    display: block;
    outline: none;
    overflow: hidden;
    &:hover {
        .c-card__title, .c-card__text {
            color: #fff;
        }

        .c-card__body {
            &:before {
                opacity: 1;
            }
        }

        .c-card__button {
            background: #fff;
            color: #4C34E1;

            &:after {
                border: 3px solid rgba(255, 255, 255, 0.1);
            }
        }

        .c-card__date {
            background-color: #fff;
        }

        .c-card__more {
            color: #fff;

            svg {
                path {
                    stroke: #fff;
                }
            }
        }
    }
}

.c-card--has-footer {
    .c-card__body {
        padding-bottom: 25px;
    }
}

.c-card__image {
    height: 210px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.c-card__body {
    padding: 30px 23px 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: .3s all;

    &:before {
        content: '';
        position: absolute;
        border-radius: 0 0 20px 20px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .3s all;
        background: linear-gradient(90.2deg, #4B33E1 21.77%, #892AE2 97.17%);
        opacity: 0;
    }
}

.c-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #2F284E;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.c-card__text {
    color: #364363;
    margin-bottom: 40px;
    position: relative;
}

.c-card__button {
    background: transparent;
    box-shadow: 0px 10px 30px rgba(226, 230, 255, 0.4);
    color: #9189C9;
    font-size: 14px;
    font-weight: 500;
    position: relative;

    &.is-disabled {
        opacity: .6;
        background-color: #e8e3e3 !important;
        color: #4C34E1;
        pointer-events: none;
    }

    &:hover {
        color: #8A2BE2;
    }

    &:after {
        border-color: fade_out(#9189C9, .5);
    }
}

.c-card__footer {
    @include list-reset;

    padding-top: 25px;
    border-top: 1px solid #EAECF8;
    font-size: 0;
    position: relative;

    li {
        display: inline-block;
        width: 50%;
        text-align: left;

        &:last-child {
            text-align: right;
        }
    }
}

.c-card__date {
    background-color: #F1EDFF;
    box-shadow: 0px 10px 30px rgba(226, 230, 255, 0.4);
    border-radius: 60px;
    padding: 7px 23px 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #9188C9;
    display: inline-block;
    transition: .3s all;
}

.c-card__more {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #9188C9;
    transition: .3s all;

    svg {
        display: inline-block;
        margin-left: 15px;

        path {
            transition: .3s all;
            stroke: #4B33E1;
        }
    }
}

@media all and (max-width: 500px) {
    .c-card__image {
        height: 150px;
    }
    .c-card__body {
        padding: 25px 20px 15px !important;
    }
    .c-card__title {
        font-size: 12px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .c-card__text {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
    }
    .c-card__footer {
        padding-top: 15px;
    }
    .c-card__date {
        font-size: 11px;
        line-height: 13px;
        padding: 4px 10px;
    }
    .c-card__more {
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        svg {
            margin-left: 7px;
        }
    }
}
