.c-card-lesson {
    color: $color-primary;
    background: #fff;
    border: 2px solid #F6F7FF;
    box-shadow: none;
    border-radius: 26px;
    text-decoration: none;
    text-align: center;
    padding: 30px 30px 50px 30px;
    display: block;
    transition: .5s all;
    // overflow: hidden;
    position: relative;

    &:hover {
        background: transparent;
        border-color: transparent;

        .c-card-lesson__button {
            color: $color-primary;
            box-shadow: none;
            background: #fff !important;
        }

        .c-card-lesson__title {
            color: #fff;
        }

        .c-card-lesson__bg {
            opacity: 1;
        }
    }
}

.c-card-lesson__bg {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 5px);
    height: calc(100% + 4px);
    transition: .5s all;
    opacity: 0;
    border-radius: 26px;
    z-index: 0;
}

.c-card-lesson__image {
    position: relative;
    margin-bottom: 30px;

    svg {
        @include absolute-center;
    }

    img {
        position: relative;
    }
}

.c-card-lesson__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #0A114F;
    min-height: 36px;
    margin-bottom: 20px;
    transition: .5s all;
    position: relative;
}

.c-card-lesson__button {
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
}
body {
    @media all and (max-width: 500px){
        .c-card-lesson {
            padding: 25px 40px;
            img {
                margin: 0 auto;
                height: 100%;
                width: auto;
            }
        }
        .c-card-lesson__title {
            font-size: 12px;
            line-height: 28px;
        }
        .c-card-lesson__image {
            height: 120px;
        }
        .c-card-lesson__button {
            font-size: 10px;
            line-height: 12px;
        }
    }

}
