.c-card-number {
    background: #FFFFFF;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    border-radius: 100px;
    padding: 24px 31px;
    font-size: 0;
    border: 1px solid #F57696;
    margin-bottom: 20px;
}

.c-card-number__circle, .c-card-number__text {
    display: inline-block;
    vertical-align: middle;
}

.c-card-number__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(239.01deg, #FEC1B2 12.19%, #F57696 83.59%);
    box-shadow: 0px 6px 30px rgba(246, 119, 151, 0.4);
    position: relative;

    &:after {
        content: '';
        border-radius: 50%;
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
        border: 2px solid rgba(255, 255, 255, 0.1);
    }
}

.c-card-number__number {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 42px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.c-card-number__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #364363;
    margin-left: 25px;
    max-width: 380px;
}

@media all and (max-width: 500px) {
    .c-card-number {
        padding: 5px 15px 5px 5px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
    .c-card-number__circle {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .c-card-number__number {
        font-size: 20px;
        position: static;
        transform: none;
    }
    body .l-reasons .c-card-number__text {
        font-size: 11px !important;
        line-height: 16px !important;
        width: calc(100% - 85px) !important;
    }
}
