.c-card-person {
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(81, 51, 226, 0.2);
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    &.is-active {
        .c-card-person__description {
            right: 0;
            opacity: 1;
        }
    }

    &:hover {
        .c-card-person__button {
            color: #fff;

            background: linear-gradient(91.08deg, #4B33E1 21.77%, #892AE2 97.17%);

            &:after {
                border: 3px solid rgba(255, 255, 255, 0.1);
            }
        }
    }
    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #483E8A;
    }
}

.c-card-person--artist {
    .c-card-person__image {
        width: 180px;
        height: 180px;
        margin-bottom: 45px;
    }

    .c-card-person__name {
        font-weight: bold;
        font-size: 30px;
    }

    .c-card-person__description-short {
        font-size: 18px;
    }
}

.c-card-person__content, .c-card-person__description {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 1px;
        width: 100%;
        height: 185px;
        background-image: url('../../img/teacher-pattern.svg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
    }
}

.c-card-person__content {
    text-align: center;
    padding: 40px 30px 55px 30px;
    cursor: pointer;
    position: relative;
}

.c-card-person__image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
}

.c-card-person__name {
    font-size: 16px;
    line-height: 26px;
    color: #483E8A;
    margin-bottom: 10px;

    span {
        font-weight: bold;
    }
}

.c-card-person__description-short {
    font-size: 12px;
    line-height: 18px;
    color: #68637E;
    margin-bottom: 20px;
}

.c-card-person__button {
    background: transparent;
    box-shadow: 0px 10px 30px rgba(226, 230, 255, 0.4);
    color: #9189C9;
    font-size: 14px;
    font-weight: 500;

    &:after {
        border-color: fade_out(#9189C9, .5);
    }
}

.c-card-person__description {
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(346.84deg, #4B33E1 19.84%, #892AE2 75.67%);
    border-radius: 20px;
    color: #fff;
    text-align: left;
    padding: 40px 20px 40px 30px;
    transition: .5s all;
    opacity: 0;

    .c-card-person__name {
        color: #fff;
    }

    .c-card-person__description-short {
        margin-bottom: 45px;
        color: #fff;
    }
}

.c-card-person__description-full {
    font-size: 12px;
    line-height: 20px;
}

.c-card-person__description-back {
    position: absolute;
    left: 45px;
    bottom: 50px;
    cursor: pointer;
}

@media all and (max-width: 500px) {
    .c-card-person {
        .c-card-person__content {
            padding: 20px;
        }
        .c-card-person__image {
            height: 130px !important;
            width: 130px !important;
            margin-bottom: 20px !important;
        }
        .c-card-person__description-short {
            font-size: 11px;
            margin-bottom: 5px;
        }
        .c-card-person__name {
            font-size: 16px;
        }

        .c-card-person__description {
            padding: 15px;
            .c-card-person__name {
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 5px;
            }
            .c-card-person__description-short {
                font-size: 10px;
            }
            .c-card-person__description-full {
                font-size: 12px;
                line-height: 20px;
            }
            .c-card-person__description-back {
                left: 15px;
                bottom: 15px;
            }
        }
    }
}
