.c-card-price {
    
}

.c-card-price__circle {
    width: 230px;
    height: 230px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(255, 98, 110, 0.3);
    position: relative;
    border-radius: 50%;
    color: #fff;
    margin: 0 auto;
    margin-bottom: -40px;
    z-index: 1;
}

.c-card-price__circle-outer {
    position: absolute;
    top: 0;
    left: 0;
}

.c-card-price__circle-inner {
    @include absolute-center;

    width: 180px;
    height: 180px;
    background: linear-gradient(239.52deg, #FFC371 12.15%, #FF5F6D 86.64%);
    border-radius: 50%;
}

.c-card-price__months {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    line-height: 24px;
    transform: translateY(-50%);

    span {
        font-size: 20px;
        display: block;
        font-weight: 500;
        margin-top: 20px;
    }
}

.c-card-price__body {
    // background-image: url('../../img/price-bg1.svg');
    // background-repeat: no-repeat;
    // background-size: cover;
    border: 2px dashed #fff;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    border-radius: 20px;
    padding: 80px 60px 44px;
    position: relative;
    overflow: hidden;
    background:
    linear-gradient(#fff,#fff) padding-box,
    linear-gradient(to right, #f4716d 0%, #fdc371 100%) border-box;
}

.c-card-price__title {
    font-weight: bold;
    font-size: 30px;
    color: #483E8A;
    margin-bottom: 20px;
}

.c-card-price__subtitle {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #7A7D98;
    margin-bottom: 20px;
}

.c-card-price__list {
    @include list-reset;

    margin-bottom: 40px;

    li {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
        color: #364363;
    }
}

.c-card-price__price {
    font-size: 36px;
    font-weight: bold;
    text-transform: lowercase;
    color: #FF636E;
    margin-bottom: 15px;

    span {
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        margin-left: 5px;
    }
}

.c-card-price__footnote {
    font-size: 13px;
    line-height: 18px;
    color: #7A7D98;
    margin-bottom: 30px;
}

.c-card-price__button {
    background: linear-gradient(204.86deg, #FFC371 12.15%, #FF5F6D 86.64%);
    font-size: 14px;
    font-weight: 500;
    min-width: 220px;

    &:hover {
        background: linear-gradient(204.86deg, #FFC371 12.15%, #FF5F6D 86.64%);
    }
}