@mixin container($width: 1634px) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @media(max-width: 1460px) {
        // max-width: 1100px;
    }
}

@mixin gutters($gutter: 17px) {
    padding-left: $gutter;
    padding-right: $gutter;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absolute-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin button(
    $padding: 23px 55px 23px 55px,
    $font-size: 16px,
    $font-weight: bold,
    $color: #fff,
    $color-hover: #fff,
    $text-transform: none,
    $bg: linear-gradient(203.94deg, #FFCC04 12.19%, #FF885A 83.59%),
    $bg-hover: $bg,
    $border: 3px solid rgba(255, 255, 255, 0.15),
    $border-radius: 60px
) {
        transition: 0.5s all;
        display: inline-block;
        font-size: $font-size;
        font-weight: $font-weight;
        color: $color;
        padding: $padding;
        text-decoration: none;
        text-transform: $text-transform;
        text-align: center;
        border-radius: $border-radius;
        line-height: 1.4;
        position: relative;
        box-shadow: 0px 10px 30px rgba(255, 139, 87, 0.3);
        position: relative;
        background: $bg;
        border: none;
        box-sizing: border-box;
        border-radius: 60px;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            top: 0;
            height: 100%;
            left: 0;
            transition: 0.5s all;
        }

        &:after {
            border: 3px solid rgba(255, 255, 255, 0.15);
            border-radius: 60px;
        }

        &:hover {
            background: $bg-hover;
            color: $color-hover;
            box-shadow: none;
        }

        &:active, &:focus {
            outline: none;
            opacity: .8;
        }

        span {
            position: relative;
        }
}

@mixin placeholder($color: #000, $weight: 300) {
    ::-webkit-input-placeholder {
        color: $color;
        font-weight: $weight;
        opacity: 1 !important;
    }

    :-moz-placeholder {
        color: $color;
        font-weight: $weight;
        opacity: 1 !important;
    }

    :-ms-input-placeholder {
        color: $color;
        font-weight: $weight;
        opacity: 1 !important;
    }
}

@mixin list-reset() {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
