$screen-xxs: 310px;
$screen-xs: 480px;
$screen-sm: 720px;
$screen-md: 990px;
$screen-lg: 1170px;
$screen-xl: 1360px;
$screen-xxl: 1670px;

$menu-collapse-breakpoint: 1245px;

$font-family-main: 'Rubik', "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-primary: #2F284E;
$color-primary-header: #1b1b1b;
$color-red: #FF625A;
$color-disabled: #FFC8C8;