.l-about {
    @include container(1350px);
    @include gutters;
    @include clearfix;

    position: relative;
}

.l-about__image, .l-about__text {
    float: left;
}

.l-about__image {
    width: 100%;
    margin-bottom: 30px;

    @media(min-width: $screen-md) {
        width: 40%;
        margin-bottom: 0;
    }

    @media(min-width: $screen-xl) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.l-about__text {
    width: 100%;
    
    @media(min-width: $screen-md) {
        padding-left: 30px;
        width: 60%;
    }
    
    @media(min-width: $screen-xl) {
        padding-left: 70px;
        padding-top: 40px;
    }
}