.l-contacts {
    @include container;
    @include clearfix;
}

.l-contacts__column {
    @include gutters;

    float: left;
    width: 50%;

    @media(min-width: $screen-md) {
        width: 25%;
    }

    @media(min-width: $screen-xl) {
        width: 17%;
    }
}