.l-footer {
    @include container;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

.l-footer__left, .l-footer__right {
    padding: 10px 20px;
    width: 100%;
    text-align: center;

    @media(min-width: $screen-md) {
        text-align: initial;
        width: 50%;
    }
}

.l-footer__left {
    float: left;
    
    @media(min-width: $screen-md) {
        padding-top: 30px;
    }
}

.l-footer__right {
    float: right;

    @media(min-width: $screen-md) {
        text-align: right;
    }
    
    @media(min-width: $screen-xxl) {
        padding-right: 90px;
    }
}

.l-footer__copyright {
    width: 100%;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}