.l-form-horizontal {
    @include container(1084px);
    @include gutters;

    text-align: center;
}

.l-form-horizontal__row {
    @include clearfix;
    
    margin-bottom: 25px;
}

.l-form-horizontal__column {
    float: left;
    width: 33.3333%;
    padding: 15px;
}