.l-container {
    @include container;
    @include gutters;
}

.l-two-columns {
    @include container;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    &:after {
        content: '';
        flex: auto;
    }
}

.l-two-columns__item {
    padding: 20px;
    width: 100%;
    position: relative;

    .c-card__image {
        height: 320px;
    }

    @media(min-width: $screen-sm) {
        width: 50%;
    }
}

.l-three-columns {
    @include container;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    &:after {
        content: '';
        flex: auto;
    }
}

.l-three-columns__item {
    padding: 20px;
    width: 100%;
    position: relative;

    @media(min-width: $screen-sm) {
        width: 50%;
    }

    @media(min-width: $screen-md) {
        width: 33.3333%;
    }
}

.l-four-columns {
    @include container;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    
    &:after {
        content: '';
        flex: auto;
    }

    &.slick-initialized {
        .l-four-columns__item {
            padding: 10px;
        }
    }
    
    @media(min-width: $screen-md) {
        margin-bottom: 70px;
    }
}

.l-four-columns--lessons {
}

.l-four-columns__item {
    padding: 17px;
    width: 100%;
    position: relative;

    @media(min-width: $screen-sm) {
        width: 50%;
    }

    @media(min-width: $screen-lg) {
        width: 25%;
    }
}