.l-header {
    @include container;
    @include gutters;
    @include clearfix;

    position: relative;
    max-width: 1280px;

    @media all and (min-width: 1650px) {
        max-width: 1470px;
    }
}

.l-header__logo {
    @media(min-width: $menu-collapse-breakpoint) {
        margin-right: 15px;
    }

    @media(min-width: 1500px) {
        margin-right: 40px;
    }
}

.l-header__navigation {
    display: none;
}

.l-header__logo, .l-header__navigation {
    @media(min-width: $menu-collapse-breakpoint) {
        display: inline-block;
        vertical-align: middle;
    }
}

.l-header__menu {
    float: left;
    width: 67%;
    position: relative;
    display: flex;
    align-items: center;
    //padding-top: 7px;
    padding: 19px 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: linear-gradient(93.87deg, #467FFF 0%, #4B33E1 49.14%, #882AE2 97.14%);

    @media(max-width: 1670px) {
        padding: 19px 0;
        width: 57%;
    }

    @media(min-width: $screen-xxl) {
        width: 55%;
    }
    @media all and (max-width: 1120px) {
        display: flex;
        align-items: center;
    }

    @media(max-width: 768px) {
        padding: 10px;
        width: 70%;
        svg {
            display: block;
        }
    }
}

.l-header__audio {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: -50px;
    @media all and (max-width: 768px){
        margin-left: -35px;
    }
}

.l-header__info {
    float: right;
    text-align: right;
    width: 43%;
    padding-top: 12px;
    display: none;

    @media(min-width: $menu-collapse-breakpoint) {
        display: block;
    }

    @media(min-width: 1550px) {

    }

    @media(min-width: $screen-xxl) {
        padding-top: 17px;
        width: 45%;
    }
}

.l-header__info, .l-header__menu-toggle, .l-header__socials {
    @media(min-width: $menu-collapse-breakpoint) {
    }
}

.l-header__menu-toggle {
    //float: right;
    width: 16px;
    //text-align: right;
    //padding-top: 13px;
    margin-right: 20px;
    button {
        margin: 0;
    }

    @media(min-width: $menu-collapse-breakpoint) {
        display: none;
    }
}

.l-header__socials, .l-header__contacts, .l-header__languages {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;

    @media(min-width: 1500px) {
        margin-left: 10px;
        margin-right: 20px;
    }
}

.l-header__languages {
    margin-right: 0;
}

@media all and (max-width: 1680px) and (min-width: 1240px){
    .l-header__info{
        float: left;
        text-align: left;
        padding-left: 165px;
    }
}
