.l-prices {
    @include container(1496px);
    @include gutters();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
}

.l-prices {
    .l-prices__item,
    .slick-slide {
        &:nth-child(2) {
            margin-top: -50px;

            .c-card-price__circle {
                box-shadow: 0px 10px 30px rgba(167, 80, 255, 0.3);
            }
            .c-card-price__circle-inner {
                background: linear-gradient(239.01deg, #B3B8FF 12.19%, #A750FF 83.59%);
            }

            .c-card-price__body {
                background:
                        linear-gradient(#fff,#fff) padding-box,
                        linear-gradient(to right, #A750FF 0%, #B3B8FF 100%) border-box;
            }

            .c-card-price__price {
                color: #A851FF;
            }

            .c-card-price__button {
                background: linear-gradient(204.42deg, #B3B8FF 12.19%, #A750FF 83.59%);
                box-shadow: 0px 10px 30px rgba(167, 80, 255, 0.3);

                &:hover {
                    background: linear-gradient(204.42deg, #B3B8FF 12.19%, #A750FF 83.59%);
                }
            }
        }
        &:nth-child(3) {
            .c-card-price__circle-outer {
                transform: scale(1.27);
                top: 11px;
            }
            .c-card-price__circle {
                box-shadow: 0px 10px 30px rgba(118, 232, 160, 0.3);
            }

            .c-card-price__circle-inner {
                background: linear-gradient(239.01deg, #87F7E2 12.19%, #76E8A0 83.59%);
            }

            .c-card-price__body {
                background:
                        linear-gradient(#fff,#fff) padding-box,
                        linear-gradient(to right, #76E8A0 0%, #87F7E2 100%) border-box;
            }

            .c-card-price__price {
                color: #5BDAD1;
            }

            .c-card-price__button {
                background: linear-gradient(204.42deg, #87F7E2 12.19%, #76E8A0 83.59%);
                box-shadow: 0px 10px 30px rgba(118, 232, 160, 0.3);
                &:hover {
                    background: linear-gradient(204.42deg, #87F7E2 12.19%, #76E8A0 83.59%);
                }
            }
        }
    }
    .l-prices__item {
        width: 26%;
        &--single {
            width: 100%;
            margin-top: 40px;
            position: relative;
            .c-card-price {
                display: flex;
                align-items: center;
                &__circle {
                    position: absolute;
                    box-shadow: 0px 10px 30px rgba(168, 81, 255, 0.3);
                    &-inner {
                        background: linear-gradient(239.01deg, #B3B8FF 12.19%, #A750FF 83.59%);
                    }
                }
                &__body {
                    padding: 40px 40px 40px 80px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(100% - 140px);
                    margin-left: 140px;
                    background: linear-gradient(#fff, #fff) padding-box,linear-gradient(to right, #A750FF 0%, #B3B8FF 100%) border-box;
                    > div,
                    > ul {
                        width: 28%;
                        p {
                            font-weight: bold;
                            font-size: 16px;
                            color: #483E8A;
                        }
                    }
                    ul {
                        margin: 0;
                        text-align: left;
                    }
                }
                &__price {
                    color: #A851FF;
                }
                &__button {
                    background: linear-gradient(204.42deg, #B3B8FF 12.19%, #A750FF 83.59%);
                    box-shadow: 0px 10px 30px rgba(168, 81, 255, 0.3);
                }
            }
            .text-left {
                text-align: left;
            }
        }
    }
}

@media all and (max-width: 500px) {
    .l-prices {
        margin-top: 0 !important;
        .slick-slide {
            padding: 0 5px;
            margin: 30px 0 50px;
            &:nth-child(2) {
                margin-top: 0;
            }
            &:nth-child(3) {
                .c-card-price__circle-outer {
                    transform: scale(1.27);
                    top: 11px;
                }

            }
        }
        .l-prices__item {
            &.single__mobile {
                padding: 0 30px;
                width: 100%;
                margin-bottom: 50px;
            }
        }

    }
    body .c-card-price {
        .c-card-price__circle {
            transform: scale(0.5) translate(0px, 80px);
            margin-top: -85px;
        }
        .c-card-price__title {
            font-size: 16px !important;
            margin-bottom: 10px;
            line-height: 22px;
        }
        .c-card-price__subtitle {
            font-size: 10px;
            line-height: 18px;
            text-transform: uppercase;
        }
        .c-card-price__body {
            padding: 45px 20px 30px !important;
        }
        .c-card-price__list {
            margin-bottom: 25px;
        }
        .c-card-price__list li {
            font-size: 11px;
            line-height: 26px;
            margin: 0;
        }
        .c-card-price__price {
            font-size: 24px;
            span {
                font-size: 11px;
            }
        }
        .c-card-price__footnote {
            font-size: 10px;
            line-height: 18px;
        }
        .c-card-price__button {
            margin: 0 auto;
        }
    }
}
