.l-reasons {
    @include container(1359px);
    @include clearfix;

    margin-top: 80px;
}

.l-reasons__column {
    float: left;
    width: 50%;
    padding: 0 35px;

    &:nth-child(1) {
        .c-card-number:nth-child(2) {
            border-color: #5AD9D0;

            .c-card-number__circle {
                background: linear-gradient(87.6deg, #5AD9D0 8.66%, #A4F4EF 93.06%);
                box-shadow: 0px 6px 30px rgba(90, 217, 208, 0.4);
            }
        }

        .c-card-number:nth-child(3) {
            border-color: #FFC371;

            .c-card-number__circle {
                background: linear-gradient(239.52deg, #FFC371 12.15%, #FF5F6D 86.64%);
                box-shadow: 0px 6px 30px rgba(255, 195, 113, 0.4);
            }
        }
    }

    &:nth-child(2) {
        .c-card-number:nth-child(1) {
            border-color: #B4EFFC;

            .c-card-number__circle {
                background: linear-gradient(241.95deg, #B4EFFC 11.05%, #209EF9 90.73%);
                box-shadow: 0px 6px 30px rgba(180, 239, 252, 0.4);
            }
        }

        .c-card-number:nth-child(2) {
            border-color: #FEE77A;

            .c-card-number__circle {
                background: linear-gradient(239.52deg, #FEE77A 12.15%, #FFA751 86.64%);
                box-shadow: 0px 6px 30px rgba(254, 231, 122, 0.4);
            }
        }

        .c-card-number:nth-child(3) {
            border-color: #F6A7CD;

            .c-card-number__circle {
                background: linear-gradient(239.52deg, #F6A7CD 12.15%, #E152B7 86.64%);
                box-shadow: 0px 6px 30px rgba(246, 167, 205, 0.4);
            }
        }
    }
}
