.l-tabs-head {
    @include clearfix;

    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 2.5rem;

    @media(min-width: $screen-lg) {
        padding-left: 21.5rem;
        padding-right: 9.0rem;
        margin-bottom: 5rem;
    }

    @media(min-width: $screen-xl) {
        margin-bottom: 7.5rem;
    }
}

.l-tabs-head__title, .l-tabs-head__controls {
    float: left;
}

.l-tabs-head__controls {
    width: 100%;
    margin-top: 2.5rem;

    @media(min-width: $screen-lg) {
        width: auto;
        margin-top: 0;
        margin-left: 20rem;
    }
}
