.l-topbar {
    @include container;
    @include gutters;

    display: none;

    @media(min-width: $menu-collapse-breakpoint) {
        display: block;
    }

    @media all and (min-width: 1650px) {
        max-width: 1200px;
    }

    //@media all and (min-width: 1200px) {
    //    max-width: 1200px;
    //}
}
