.l-video {
    @include container(1260px);
    @include gutters;
    @include clearfix;
}

.l-video__video, .l-video__playlist {
    float: left;
}

.l-video__video {
    @include gutters;

    width: 75%;
}

.l-video__playlist {
    @include gutters;

    max-height: 490px;
    overflow: auto;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;

    &::-webkit-scrollbar {
        border-radius: 2px;
        background: #ECEEFF;
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(90.03deg, #4B33E1 21.77%, #892AE2 97.17%);
        border-radius: 2px;
        height: 10px;
    }
}
