body {
  @media all and (max-width: 1680px) {
    h2, .h2 {
      font-size: 38px;
      line-height: 52px;
      margin-bottom: 42px;
    }
    .o-button-default {
      padding: 18px 24px;
      font-size: 13px;
    }
  }
  @media all and (max-width: 500px) {
    overflow: hidden;
    width: 100vw;
    .c-section-form {
      margin-top: 0;
      h3 {
        margin-bottom: 25px;
      }
      .o-button-default {
        margin: 0 auto;
      }
    }
    .c-form-horizontal {
      padding: 25px 20px;
    }
    .c-form-horizontal__text {
      font-size: 11px;
      line-height: 16px;
    }
    .l-form-horizontal__column {
      width: 100%;
      padding: 5px 10px;
    }
    .c-form__control {
      height: 35px;
    }
    .o-button-default {
      margin: 10px auto 0;
      max-width: 180px;
      height: 40px !important;
      font-size: 10px !important;
      line-height: 12px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 !important;
    }
    .c-slider-hero__badge {
      position: static;
      width: auto;
      display: inline-flex;
      height: 35px;
      padding: 0 25px;
      align-items: center;
      font-size: 10px;
      text-transform: uppercase;
      max-width: fit-content;
      margin: 0 auto;
    }
    &.single-course {
      .c-section-hero {
        .c-countdown__title {
          text-align: center;
        }
        .c-slider-hero__button {
          display: none;
        }
      }
      .c-section-about-course {
        margin-top: 40px;
        .c-section-about-course__bg {
          display: none;
        }
      }
      .c-list-icons__title {
        font-size: 11px;
      }
      .c-list-icons__icon {
        min-height: auto;
        margin-bottom: 5px;
      }
      .c-list-icons {
        li {
          width: 50%;
          padding: 10px;
          img {
            height: 70px;
          }
        }
      }
      .l-reasons__column {
        width: 100%;
      }
      .c-card-star {
        display: flex;
        align-items: center;
      }
      .c-section-steps {
        margin-top: 40px;
        .l-steps__item {
          width: 100%;
          padding: 10px 15px;
        }
        .c-card-star__text {
          font-size: 11px;
          width: calc(100% - 100px);
        }
      }
      .c-section-teachers {
        margin-top: 40px;
        .c-slider-teachers__title {
          text-align: center;
        }
      }
    }
    .l-about-course {
      .c-about-course {
        padding: 25px;
      }
      .c-about-course__text {
        font-size: 11px;
        line-height: 22px;
        margin-bottom: 0;
      }
    }
    .l-prices {
      position: inherit;
      display: inherit;
      margin: inherit;
      width: inherit;
      padding: inherit;
      .c-slider-news {
        padding: 0;
        margin: 0;
      }
    }
    .slide-nav-arrows {
      max-width: 160px;
      margin: 0 auto 40px;
      display: flex;
      justify-content: space-between;
      .slide-nav-mob--next {
        transform: rotate(180deg);
      }
      .slide-nav-mob {
        opacity: .7;
        outline: none;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        &:hover {
          opacity: 1;
        }
        img, svg {
          transform: scale(1.6);
        }
      }
    }
  }
  @media all and (min-width: 500px) {
    .slick-slide:not(.slick-active) {
      .c-card__title,
      .c-card__text {
        font-size: 1px;
        opacity: 0;
        line-height: 8px;
      }
    }
  }
}


