body{
  .c-section-lessons {
    .l-four-columns,
    .c-slider-news {
      .l-four-columns__item,
      .slick-slide {
        &:nth-child(8n+1) {
          .c-card-lesson__button,
          &:hover .c-card-lesson {
            background: linear-gradient(241.22deg, #FEC1B2 12.19%, #F57696 83.59%);
          }
        }
        &:nth-child(8n+2) {
          .c-card-lesson__button,
          &:hover .c-card-lesson {
            background: linear-gradient(241.22deg, #87F7E2 12.19%, #76E8A0 83.59%);
          }
        }
        &:nth-child(8n+3) {
          .c-card-lesson__button,
          &:hover .c-card-lesson {
            background: linear-gradient(241.71deg, #FEE77A 12.15%, #FFA751 86.64%);
          }
        }
        &:nth-child(8n+4) {
          .c-card-lesson__button,
          &:hover .c-card-lesson {
            background: linear-gradient(244.02deg, #B4EFFC 11.05%, #209EF9 90.73%);
          }
        }
        &:nth-child(8n+5) {
          .c-card-lesson__button,
          &:hover .c-card-lesson {
            background: linear-gradient(227.63deg, #B3B8FF 12.19%, #A750FF 83.59%);
          }
        }
        &:nth-child(8n+6) {
          .c-card-lesson__button,
          &:hover .c-card-lesson {
            background: linear-gradient(241.71deg, #FFC371 12.15%, #FF5F6D 86.64%);
          }
        }
        &:nth-child(8n+7) {
          .c-card-lesson__button,
          &:hover .c-card-lesson {
            background: linear-gradient(87.81deg, #5AD9D0 8.66%, #A4F4EF 93.06%);
          }
        }
        &:nth-child(8n+8) {
          .c-card-lesson__button,
          &:hover .c-card-lesson {
            background: linear-gradient(241.71deg, #F6A7CD 12.15%, #E152B7 86.64%);
          }
        }
      }
    }
  }
  &.home {
    .c-section-lessons .c-card-lesson {
      border: none;
    }
  }
  @media all and (max-width: 1680px) {
    .l-container,
    .c-section-lessons .js-tab,
    .l-about,
    .l-feedback,
    .l-about-course,
    .l-prices,
    .l-reasons,
    .l-video,
    .c-section-main-bg__form,
    .schedule__container,
    .camp-features,
    .our-conditions__data,
    .c-section-producing__container,
    .c-section-vacancy__container{
      max-width: 1180px;
      min-height: auto;
      margin-right: auto;
      margin-left: auto;
    }
    .c-slider-feedback__wrap {
      padding: 85px 30px 30px 410px;
      max-width: 960px;
    }
    .c-tabs-nav {
      margin-bottom: 60px;
    }
    .c-section-lessons {
      min-height: auto;
      margin-top: 0;
    }
    .c-slider-hero__images {
      width: 980px;
      height: 850px;
    }
    .c-section-hero {
      padding-top: 100px;
      min-height: 850px;
      .c-countdown {
        margin-bottom: 50px;
      }
      .c-slider-hero__slide {
        padding-bottom: 60px;
      }
    }
    .c-tabs-nav-big li {
      &:first-child a{
        font-size: 38px;
      }
      a {
        font-size: 20px;
        line-height: 52px;
      }
    }
    .c-card-lesson__button {
      padding: 18px 24px;
      font-size: 13px;
    }
    .c-section-about {
      padding-bottom: 150px;
    }
    .l-prices {
      &__item {
        width: 30%;
      }
    }
    .l-reasons {
      .c-card-number {
        &__text {
          width: calc(100% - 130px);
        }
      }
    }
    .c-section-video {
      margin-bottom: 200px;
    }
    .icon-tabs {
      &__header {
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 10px;
        }
      }
      &__data-container {
        flex-wrap: wrap;
      }
      &__data-title {
        width: 35%;
      }
      &__data-description {
        width: 65%;
      }
      &__data-price,
      &__data-button{
        width: 50%;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 20px;
      }
    }
    .schedule__container {
      .schedule__data {
        width: 30%;
      }
    }
    .camp-features {
      .camp-features__data {
        width: 30%;
      }
    }
    .c-section-nominees-block .nominees-block {
      &__single{
        width: 300px;
        margin: 0 10px;
      }
      &__header {
        width: 240px;
        padding: 30px;
        height: 230px;
      }
      &__data {
        padding: 80px 10px 30px;
      }
    }
    .c-section-producing__container {
      .producing__single {
        .producing__single_data {
          width: 55%;
        }
        max-width: none;
        width: 49%;
      }
      .producing__single--tv,
      .producing__single--musicals {
        .producing__single_data {
          width: 100%;
        }
      }
    }
    .news-block__data {
      flex-wrap: wrap;
      a {
        width: 48%;
      }
    }
  }
  @media all and (max-width: 1180px) {
    .l-container,
    .c-section-lessons .js-tab,
    .l-about,
    .l-feedback,
    .l-about-course,
    .l-prices,
    .l-reasons,
    .l-video,
    .l-form-horizontal,
    .l-steps,
    .c-section-main-bg__form,
    .schedule__container,
    .camp-features,
    .our-conditions__data,
    .c-section-producing__container,
    .c-section-vacancy__container{
      max-width: 960px;
    }
    .c-slider-hero__images {
      width: 830px;
      height: 700px;
    }
    .c-section-hero {
      padding-top: 50px;
      min-height: 670px;
      h1.c-slider-hero__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 20px;
      }
      h1.c-slider-hero__sub-title {
        font-size: 40px;
        line-height: 50px;
        max-width: 500px;
        padding-left: 100px;
      }
      .c-countdown {
        margin-bottom: 40px;
      }
    }
    .c-slider-hero {
      padding-top: 130px;
    }
    .c-countdown__value,
    .c-countdown__separator {
      font-size: 42px;
    }
    .c-countdown__value {
      margin-bottom: 10px;
      min-width: 60px;
    }
    .c-slider-feedback__photo {
      width: 200px;
      height: 200px;
      &:nth-child(1) {
        top: calc(50% - 200px);
      }
      &:nth-child(2) {
        bottom: calc(50% - 200px);
      }
      &:nth-child(3) {
        left: 100px;
      }
    }
    .c-section-lessons {
      .l-four-columns__item {
        width: 33.333%;
      }
    }
    .c-about-course {
      padding: 50px 40px;
      &__title {
        font-size: 32px;
        line-height: 36px;
      }
    }
    .c-section-prices {
      .c-card-price {
        &__body {
          padding: 70px 30px 40px;
        }
        &__title {
          font-size: 26px;
        }
      }
    }
    .l-reasons {
      &__column {
        padding: 0 20px;
      }
      .c-card-number {
        &__text {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
        }
      }
    }
    .c-section-video {
      margin-bottom: 130px;
      &__decor {
        display: none;
      }
    }
    .c-section-steps {
      .c-card-star__text {
        width: calc(100% - 130px);
      }
    }

    .c-section-main-bg__form {
      .left-block {
        width: 400px;
        flex-wrap: wrap;
        .c-section-main-bg__single {
          width: 200px;
        }
      }
    }
    .schedule__container {
      .schedule__data {
        margin: 0 15px;
        img {
          height: 200px;
        }
      }
    }
    .camp-features {
      .camp-features__data {
        ul, p, h6{
          padding: 25px 20px 15px;
        }
        margin: 0 15px;
        img {
          height: 200px;
        }
      }
    }
    .our-conditions {
      &__header {
        padding-left: 0;
        a {
          width: 285px;
        }
      }
    }
  }
  @media all and (max-width: 990px) {
    .c-section-vacancy {
      padding: 0 25px;
    }
    .c-section-vacancy__container {
      width: 100%;
      .c-slider-vacancy {
        width: 500px;
      }
      .c-slider-vacancy__slide {
        font-size: 26px;
      }
    }
    .c-section-about,
    .c-section-lessons,
    .c-section-feedback {
      padding-left: 50px;
      padding-right: 50px;
    }
    .c-slider-hero {
      padding-top: 50px;

      .slick-dots {
        text-align: center;
      }
    }
    .c-slider-hero__images {
      margin-top: 175px;
    }
    .c-section-hero {
      min-height: 860px;

      h1.c-slider-hero__title,
      .c-countdown {
        padding-left: 100px;
      }
      h3.c-slider-hero__sub-title {
        font-size: 40px;
        line-height: 50px;
        max-width: 500px;
        padding-left: 100px;
      }

      .c-countdown {
        margin-bottom: 500px;
      }
    }
    .c-section-lessons {
      .l-four-columns__item {
        width: 50%;
      }
    }
    .c-section-about {
      padding-top: 60px;
    }
    .c-section-teachers {
      margin-top: 270px;

      .c-slider-teachers__title {
        position: relative;
        bottom: 120px;
        padding: 0 50px;
      }
    }
    .c-slider-feedback__wrap {
      float: none;
      padding: 50px 30px 30px 240px;
    }
    .c-slider-feedback__photo {
      width: 150px;
      height: 150px;

      &:nth-child(1) {
        left: 40px;
      }

      &:nth-child(2) {
        left: 40px;
      }

      &:nth-child(3) {
        left: 45px
      }

      .c-slider-feedback__wrap {
      }
    }
    .c-slider-hero__badge {
      margin-top: 10px;
      position: absolute;
      right: 30px;
      top: 5px;
    }
    .c-section-hero .c-slider-hero__slide {
      padding-bottom: 100px;
    }
    .o-button-default {
      max-width: 320px;
      width: 100%;
      min-width: 120px;
    }
    .c-section-steps {
      .c-card-star__text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
    }
    .our-conditions {
      &__header {
        a {
          width: 100%;
          flex-direction: column;
        }
      }
      .data-container__columns {
        display: block;
      }
      .data-container__column {
        width: 100%;
      }
    }
    .c-section-nominees-block {
      .l-container {
        display: block;
        .nominees-block__single {
          width: 400px;
          margin: 40px auto;
        }
      }
    }
    .c-section-producing__container {
      padding: 0 30px;
      .producing__single {
        width: 100%;
      }
    }
  }

  @media all and (max-width: 500px) {
    section {
      margin-bottom: 40px;
    }
    .c-slider-hero {
      padding-top: 25px;
      min-height: auto;
    }
    .c-section-news::before {
      height: 288px;
    }
    .c-slider-hero__images {
      width: 100vw;
      margin-top: 125px;
      transform: scale(1);
    }
    .c-section-hero h1.c-slider-hero__title,
    .c-section-hero .c-countdown {
      padding: 0;
      text-align: center;
    }
    .c-section-hero h1.c-slider-hero__title {
      font-size: 24px;
      line-height: 26px;
    }
    .c-section-hero .c-countdown {
      margin-top: 270px;
      margin-bottom: 0;
    }
    .c-countdown__value,
    .c-countdown__separator {
      font-size: 30px;
    }
    .c-countdown__value {
      min-width: 50px;
      margin-bottom: 0;
    }
    .c-countdown__text {
      font-size: 11px;
    }
    .c-section-hero .c-slider-hero__slide {
      padding-bottom: 40px;
    }
    .c-slider-hero__decor {
      display: none;
    }

    .c-section-about,
    .c-section-lessons,
    .c-section-feedback {
      padding-left: 25px;
      padding-right: 25px;
    }
    .c-section-hero {
      height: auto;
      min-height: auto;
    }
    .c-slider-hero__slide {
      display: flex !important;
      flex-direction: column;
      .o-button-default {
        margin: 20px auto 0;
        //display: inline-flex;
      }
    }
    .c-section-lessons {

    }
    .c-section-teachers {
      margin-top: 100px;
      .c-slider-teachers__title {
        padding: 0 0 40px 0 !important;
      }
      .c-section-teachers__bg {
        max-width: 300%;
        left: -50%;
        top: -60px;
        img {
          width: 300%;
        }
      }
      .c-slider-teachers__title {
        bottom: 40px;
        padding: 0 15px;
        position: static;
      }
      .c-tabs-nav-big li:first-child a {
        font-weight: bold;
        font-size: 16px;
        line-height: 68px;
      }
      .c-tabs-nav-big li a {
        font-weight: normal;
        font-size: 10px;
      }
      .c-tabs-nav-big li:before{
        font-size: 10px;
      }
      .c-slider-teachers__controls,
      .slick-dots {
        display: none !important;
      }
      .c-slider-teachers__slide {
        //padding: 5px 10px;
      }
      .c-slider-teachers {
        margin-top: -50px;
      }
    }
    .c-section-about {
      display: none !important;
    }
    .c-section-feedback {
      .c-section-feedback__bg {
        display: none;
      }
      .c-slider-feedback__wrap {
        padding: 20px;
      }
      .c-slider-feedback {
        margin-top: 0;
        .slick-slide.slick-active {
          p{
            font-size: 11px;
            line-height: 20px;
            text-align: center;
            padding: 0 10px;
          }
        ol li {
          font-size: 11px;
          line-height: 18px;
        }
        .c-slider-feedback__title {
            text-align: center;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .c-slider-feedback__wrap:before {
        width: 240px;
        height: 300px;
        position: absolute;
        top: 30%;
        right: auto;
      }
      .svg-quote-dims {
        transform: scale(.5);
      }
      .slick-track {
        display: flex;
        align-items: center;
      }
      .c-slider-feedback__controls {
        margin-top: 25px;
        text-align: center;
      }
    }
    .c-section-feedback {
      padding: 0;
      .c-slider-feedback__photos {
        transform: none;
        top: -140px;
        right: 0;
        margin: 0 auto;
        left: 0;
        width: 320px;
        height: 165px;
      }
      .c-slider-feedback__photo {
        width: 110px;
        height: 110px;
      }
      .c-slider-feedback__photo:nth-child(1) {
        left: 40px;
        top: 0;
      }
      .c-slider-feedback__photo:nth-child(2) {
        right: 40px;
        top: 0;
        left: auto;
      }
      .c-slider-feedback__photo:nth-child(3) {
        left: 120px;
        top: 110px;
      }
      .c-slider-feedback__head {
        margin-bottom: 200px;
      }
    }
    .c-section-news {
      background: none;
      margin-top: 0;
      padding-top: 50px;
      margin-bottom: 0;
      .c-slider-news__slide {
        padding: 20px 10px 60px;
      }
      .c-slider-news__controls {
        display: none;
      }
      .slick-dots {
        display: none !important;
      }
      .slick-slide:not(.slick-current) {
        .c-card__text,
        .c-card__title {
          font-size: 1px;
          line-height: 1px;
        }
      }
    }
    .c-tabs-nav-big {
      text-align: center;
      li a {
        font-size: 10px;
        line-height: 40px;
      }
      li:first-child a {
        font-size: 16px;
      }
      li:before {
        font-size: 10px;
        line-height: 40px;
        margin-left: 10px;
        margin-right: 5px;
      }
    }
    .c-contacts__form {
      position: absolute;
      bottom: -750px;
      z-index: 90;
      padding-left: 30px;
      padding-right: 30px;
      .c-form__title {
        font-size: 16px;
        line-height: 19px;
        padding-top: 10px;
      }
      .c-form__control {
        height: 40px;
      }
      textarea.c-form__control {
        min-height: 100px;
      }
      .c-form__group--submit {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }
      .c-form__group.c-form__group--mb0 {
        padding: 1px 5px 90px 5px;
      }
    }
    .c-footer {
      padding-top: 370px;
      .l-footer__right {
        padding: 10px 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img:first-child {
          height: 30px;
        }
        img:last-child {
          height: 24px;
        }
      }
    }
    .l-footer__copyright {
      font-size: 10px;
      padding-top: 15px;
      padding-bottom: 30px;
      color: white;
      opacity: .8;
    }
    .c-map {
      height: 300px;
    }
    .c-section-contacts {
      .c-contacts__title {
        font-size: 14px;
      }
      .c-contacts__link {
        font-size: 11px;
      }
      .c-contacts__title--mb {
        margin-bottom: 15px;
      }
    }
    .c-section-main-bg {
      .camp_main__img {
        height: 240px;
        width: 100%;
        object-fit: cover;
      }
      .l-position {
        bottom: -35px;
      }
    }

    .c-section-contacts {
      .l-contacts__column {
        display: flex;
        width: 100%;
        padding: 0 25px;
        &:first-child {
          .c-contacts__section {
            width: 50%;
            .c-contacts__link--address {
              margin: 5px 0;
            }
          }
        }
        &:nth-child(2) {
          display: flex;
          flex-wrap: wrap;
          .c-contacts__section {
            width: 50%;
            margin-bottom: 15px;
          }
          .c-contacts__section:nth-child(1) {
            order: 1;
          }
          .c-contacts__section:nth-child(2) {
            order: 3;
          }
          .c-contacts__section:nth-child(3) {
            order: 5;
            width: 100%;
            margin-bottom: 30px;
          }
          .c-contacts__section:nth-child(4) {
            order: 2;
          }
          .c-contacts__section:nth-child(5) {
            order: 4;
          }
        }
      }
    }
   &.page-template-camp .schedule-section .schedule__bg {
     bottom: 287px !important;
   }
    .our-conditions__header li {
      padding: 2px;
      border-radius: 13px;
    }
    .our-conditions__button {
      img {
        height: 16px;
      }
      span {
        position: static !important;
      }
    }
    .our-conditions .our-conditions__data-container {
      overflow: hidden;
    }
    .c-slider-photos__photo:after {
      content: none !important;
    }

  }
  @media all and (max-width: 500px) and (min-width: 414px){
    .c-section-hero .c-countdown {
      margin-top: 300px;
    }
    .c-section-lessons {
      .c-tabs-nav li a {
        padding: 16px 40px;
      }
    }
  }
  @media all and (max-width: 1600px) and (min-width: 500px) {
    h1.c-slider-hero__title {
      max-width: 40%;
      font-size: 46px;
      margin-bottom: 44px;
    }
  }
}
