.c-slider-photos__wrap {
    position: relative;
    margin-top: 80px;
}

.c-slider-photos__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:before {
        background: linear-gradient(239.01deg, #B3B8FF 12.19%, #A750FF 83.59%);
        opacity: 1;
    }
}

.c-slider-photos__arrow--prev {
}

.c-slider-photos__arrow--next {
}

.c-slider-photos {
    .slick-slide {
        transform: scale(.6);
        transform-origin: left;
        transition: .3s all;
        padding-bottom: 35px;
        margin-left: -7.5rem;
        margin-right: -7.5rem;
        opacity: 0;
    }

    .slick-active {
        opacity: 1;
    }

    .slick-current {
        // transform: scale(1.4);
        transform: scale(1);
        transform-origin: center;

        .c-slider-photos__photo:after {
            opacity: 0;
        }

        & + .slick-slide {
            transform-origin: right;
        }
    }

    .slick-dots {
        text-align: center;
        margin-top: 20px;
    }
}

.c-slider-photos__photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    box-shadow: 0px 12px 50px rgba(48, 74, 210, 0.13);
    border-radius: 20px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(137, 42, 226, 0.4) 0%, rgba(75, 51, 225, 0.4) 100%);
        transition: .3s all;
    }
}

@media all and (max-width: 500px) {
    body .c-section-photos {
        margin-top: 40px;
        .c-slider-photos__wrap {
            margin-top: 0;
        }
        .c-slider-photos {
            .slick-slide {
                transform: none;
                padding-bottom: 0;
                margin: 0;
                opacity: inherit;
            }

            .slick-active {
                opacity: inherit;
            }

            .slick-current {
                // transform: scale(1.4);
                transform: none;

                .c-slider-photos__photo:after {
                    opacity: inherit;
                }
            }
        }

        .slick-slide {
            padding: 0 5px;
        }
        .c-slider-photos__photo {
            height: 52vw;
            img {
                display: block;
                border-radius: 20px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
