.c-slider-hero {
    padding-top: 100px;
    margin-left: -30px;

    .slick-dots {
        margin-left: 30px;
    }

    &__sub-title {
        font-size: 64px;
        line-height: 68px;
        font-weight: normal;
        max-width: 600px;
        margin: 10px 0;
    }
}

.c-slider-hero__slide {
    padding-bottom: 100px;
    padding-left: 30px;
}

.c-slider-hero__title {
    margin-bottom: 65px;
    &.margin-none {
        margin-bottom: 0 !important;
    }
}

.c-slider-hero__images {
    position: absolute;
    right: 0;
    top: 0;
    width: 1230px;
    height: 986px;
    transform: scale(.8);
    transform-origin: right;

    @media(min-width: $screen-xxl) {
        transform: none;
    }
}

.c-slider-hero__image {
    display: none;
    width: 100%;

    &:first-child {
        display: block;
    }
}

.c-slider-hero__button {
    padding-top: 29px;
    padding-bottom: 29px;
}

.c-slider-hero__badge {
    margin-top: 10px;

    & + .c-slider-hero__title {
        margin-bottom: 45px;
    }
}

.c-slider-hero__decor {
    position: absolute;
}

.c-slider-hero__decor--1 {
    top: 155px;
    left: 335px;
}

.c-slider-hero__decor--2 {
    top: 145px;
    right: 400px;
}

.c-slider-hero__decor--3 {
    left: 80px;
    top: 50%;
}
.c-slider-hero__decor--4 {
    bottom: 216px;
    left: 145px;
}

@media all and (max-width: 1680px) {
    .c-slider-hero__decor {
        transform: scale(0.8);
    }
    .c-slider-hero__decor--1 {
        top: 120px;
        left: 210px;
    }
    .c-slider-hero__decor--2 {
        top: 108px;
        right: 325px;
    }

    .c-slider-hero__decor--3 {
        left: 76px;
        top: 39%;
    }
    .c-slider-hero__decor--4 {
        bottom: 216px;
        left: 120px;
    }
}
