.c-slider-feedback {
    margin-top: 40px;
}

.c-slider-feedback__head {
    text-align: center;
    margin-bottom: 50px;
}

.c-slider-feedback__wrap {
    background: #FFFFFF;
    box-shadow: 0px 14px 50px rgba(48, 74, 210, 0.2);
    border-radius: 20px;
    float: right;
    max-width: 975px;
    padding: 85px 30px 30px 270px;
    margin: 0 auto;
    position: relative;

    &:before {
        content: '';
        background-image: url('../../img/quote.svg');
        background-position: center right;
        background-size: contain;
        background-repeat: no-repeat;
        width: 344px;
        height: 278px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 155px;
    }
}

.c-slider-feedback__photos {
    width: 530px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 1;
}

.c-slider-feedback__photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;

    &:nth-child(1), &:nth-child(2) {
        left: 0;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: linear-gradient(180deg, rgba(75, 51, 225, 0.4) 0%, rgba(137, 42, 226, 0.4) 100%), url(image.png);
        }
    }

    &:nth-child(1) {
        top: 0;
    }

    &:nth-child(2) {
        bottom: 0;
    }

    &:nth-child(3) {
        right: 0;
        top: 50%;
        transform: translateY(-50%) scale(1.1);
        transform-origin: right;
    }
}

.c-slider-feedback__photos-set {
    display: none;

    &:nth-child(2) {
        display: block;
    }
}

.c-slider-feedback__text {
    max-width: 585px;
    margin-bottom: 30px;
}

.c-slider-feedback__title {
    font-size: 24px;
    line-height: 24px;
    color: #483E8A;
    font-weight: bold;

    span {
        font-weight: normal;
    }
}
.slick-slide:not(.slick-active) {
    .c-slider-feedback__text p,
    .c-slider-feedback__title,
    ol li{
        font-size: 1px;
        line-height: 1px;
    }
}

.c-slider-feedback__description {
    font-size: 14px;
    color: #483E8A;
    margin-top: 10px;
}

.c-slider-feedback__controls {
    text-align: right;
}

.c-slider-feedback__arrow {
    &:after {

    }
}
