.c-slider-news {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -50px;
    margin-right: -50px;

    .slick-dots {
        margin-top: 35px;
        text-align: center;
    }
}

.c-slider-news__title {
    margin-bottom: 0;
}

.c-slider-news__slide {
    padding: 60px 20px;
}

.c-slider-news__controls {
    text-align: right;
    margin-bottom: 5px;
}

.c-slider-news__arrow {

}

.c-slider-news__arrow--prev {
}

.c-slider-news__arrow--next {
}

.c-slider-news__more {
    text-align: center;
    margin-top: 20px;

    @media(min-width: $screen-lg) {
        margin-top: 40px;
    }
}
@media all and (min-width: 500px) {
    .c-slider-news {
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        .slick-list {
            overflow: visible;
        }
        .slick-slide:not(.slick-active) {
            visibility: hidden;
        }
    }
}
