.slick-slide {
    &:focus, &:active {
        outline: none !important;
    }
}

.slick-dots {
    @include list-reset;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 6px;

        button {
            border: none;
            transition: 0.3s all;
            font-size: 0;
            padding: 0;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: transparent;
            position: relative;
            
            &:focus, &:active {
                outline: none !important;
            }

            &:after {
                @include absolute-center;

                content: '';
                opacity: .1;
                background: #4B33E1;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                transition: 0.3s all;
            }
        }

        &.slick-active, &:hover {
            button {
                background: fade_out(#4B33E1, 0.93);

                &:after {
                    opacity: 1;
                }
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.slick-arrows {

}

.slick-arrow {
    border: 3px solid rgba(145,137,201,0.5);
    background: transparent;
    outline: none;
    padding: 0;
    position: relative;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:hover {
        &:before {
            opacity: 1;
        }

        svg {
            path {
                stroke: #fff;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        border-radius: 50%;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        transition: .3s all;
        background: linear-gradient(239.01deg, #B3B8FF 12.19%, #A750FF 83.59%);
        opacity: 0;
    }

    svg {
        path {
            transition: .3s all;
            stroke: #B1A2FF;
        }
    }

    .icon, svg {
        @include absolute-center;
    }
}