.c-slider-teachers {
    .slick-dots {
        margin-top: 10px;
        text-align: center;

        li:nth-child(1), li:nth-child(2) {
            @media(min-width: 1500px) {
                display: none;
            }
        }

        li:last-child {
            @media(min-width: 1500px) {
                display: none;
            }
        }

        li:nth-child(1) {
            @media(min-width: $screen-sm) {
                display: none;
            }
        }
    }
}

.c-slider-teachers__title {
    margin-bottom: 0;
}

.c-slider-teachers__slide {
    padding: 60px 20px;
}

.c-slider-teachers__controls {
    text-align: right;
    margin-bottom: 5px;
}

.c-slider-teachers__arrow {

}

.c-slider-teachers__arrow--prev,
.c-slider-teachers__arrow--next{
    border-color: transparent;

    &:before {
        transition: .3s;
        opacity: 1;
        background: #A95BFF;
    }
}

.c-slider-teachers__arrow--prev:hover,
.c-slider-teachers__arrow--next:hover {
    &:before {
        opacity: 1;
        transition: .3s;
        background: linear-gradient(239.01deg, #B3B8FF 12.19%, #A750FF 83.59%);
    }
}

.c-slider-teachers__button {
    margin-top: 70px;
    text-align: center;
}
@media all  and (max-width: 500px) {
    .c-slider-teachers__slide {
        padding: 60px 5px;
    }
    .c-slider-teachers__button {
        display: none;
    }
}
